/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/


.tb-red-color{
    background-color: #e4ebf4;

}
tr{
    height: 15px !important;
}
td{
    padding: 0px;
}
.ui-datalist{
    width: 330px;
}

.ui-fieldset-content{
    background-color: #e4ebf4;

}

.ui-growl-item-container{
    background-color: #cccccc;
    color: black;

}

.fundo{
    /*background-color: #e4ebf4;*/
    background-color:  #d0cfcf;
}
.ui-panel-content{
    background-color: #d2ca9e;
}
textarea[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

input[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

select[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

select {
    font-size: 11px;
    font-weight: bold;
}

input[type="text"] {
    font-size: 11px;
    font-weight: bold;

}

.coluna1{
    width: 100px;
    height: 15px !important;
    padding: 5px !important;
    background: #999999;
    font-weight: bold;
    font-size: 10.4px;
}

.coluna2{

}



input[type=text]:focus {
    background-color: white !important;
    color: #000;

}

select {
    color: #000;

}

select:focus {
    background-color: #f9f9c1;
    color: #000;

}
textarea:focus {
    background-color: #f9f9c1;
    color: #000;

}

textarea {
    color: #000;

}


input[type=checkbox]:focus + label, input[type=radio]:focus + label {
    background-color: #f9f9c1;
    color: #000;
    border-color: #ebebb7;

    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-color: #006699;
    border-left-color: #006699;
    border-bottom-color: #006699;
    border-top-color: #006699;
}

.imgEditar {
    width:16px;
    height:16px;
    background-image: url("../template/images/editar.gif") !important;
}
.imgExcluir {
    background-image: url("../template/images/excluir.gif") !important;
}
.apple {
    background: url(../template/images/icon.png);
    width:16px;
    height:16px;
    background-size : 100%;
    background-color: transparent;
    background-repeat: no-repeat;
}

body {
    margin: 0px;
    padding: 0;
    font-size: 11px;
    color: #616161;    
    color: black;

}



h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
    margin-top:20px;
}

ul {
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}

/* Header */
#logo {
    width: 960px;
    height: 75px;
    margin: 0 auto;
    padding: 25px 10px 0 10px;
}

#logo h1, #logo p {
    float: left;
    margin: 0;
}

#logo h1 {
    padding: 0 0 0 0;
    letter-spacing: -1px;
    font-weight: normal;
    font-size: 3em;
}

#logo p {
    text-transform: uppercase;
    padding: 47px 0 0 3px;
    font-size: 10px;
    color: #FFFFFF;
}

#logo a {
    border: none;
    text-decoration: none;
    color: #DC8700;
}

/* Menu */
#menu {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    height: 59px;
}

#menu ul {
    margin: 0;
    padding-left: 270px;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu li a {
    display: block;
    float: left;
    height: 42px;
    margin: 0;
    padding: 18px 40px 0 40px;
    text-decoration: none;
    font-size: 20px;
}

#menu li a:hover {
    text-decoration: underline;
}


/* Wrapper */

#wrapper {
}

/* Page */

#page {
    width: 960px;
    margin: 0 auto;
    padding: 20px 5px;
    background: #FFFFFF;
}

#page-bg {
}

/* Latest Post */

#latest-post {
    padding: 20px;
    border: 1px solid #E7E7E7;
}

/* Content */

#content {
    float: left;
    width: 700px;
}

.post {
    padding-bottom: 15px;
}

.post h1 {
    font-weight: normal;
}

.title {
    height: 30px;
    margin-left: 10px;
    padding: 8px 0 0 20px;
}

.title a {
    border-bottom: none;
    color: #FFFFFF;
}

.title a:hover {
    border-bottom: 1px dotted #000000;
}

.byline {
    margin: -60px 20px 20px 20px;
}

.byline a {
    color: #DC8700;
}

.tag {
    padding: 0 15px;
}

.entry {
    padding: 0 20px;
}

.entry p {
    line-height: 200%;
}

.links {
    padding: 4px 0px;
    text-align: right;
    font-weight: bold;
}

.links a {
    border: none;
}

.links a:hover {
}

/* Sidebars */

#sidebar1 {
    float: left;
    margin-top: -81px;
    margin-left: -1px;
}

#sidebar2 {
    float: right;
}

.sidebar {
    float: left;
    width: 240px;
    padding: 0;
    font-size: 12px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 0 0 20px 0;
}

.sidebar span {
    cursor: pointer;
}

.sidebar li ul {
}

.sidebar li li {
    margin: 0 10px 0 10px;
    padding: 3px 0px;
}


.sidebar li h2 {
    height: 40px;
    margin: 0 0 0 0;
    padding: 20px 15px 0px 65px;
    background: url(../template/images/img04.jpg) no-repeat left top;
    letter-spacing: -1px;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
}

.sidebar a {
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Search */

#searchform {
    margin: 0;
    padding: 0 0 0 0;
}

#searchform br {
    display: none;
}

#searchform h2 {
}

#s {
    margin: 10px 0px 0 15px;
    padding: 2px 2px;
    width: 180px;
    height: 18px;
    border: 1px solid #6F6E6E;
    background: #FFFFFF;
    font-size: 10px;
    color: #000000;
}

#x {
    margin: 0;
    padding: 2px 5px;
    height: 25px;
    background: #CA8186;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #CCCCCC;
}
/* Calendar */

#calendar_wrap {
    padding: 0 15px;
    text-align: center;
}

#calendar_wrap table {
    width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
    border: none;
}

#calendar_wrap tfoot td#prev {
    text-align: left;
    font-weight: bold;
    border: none;
}

#calendar_wrap tfoot td#prev a {
    border: none;
}

#calendar_wrap tfoot td#next {
    text-align: right;
    font-weight: bold;
    border: none;
}

#calendar_wrap tfoot td#next a {
    border: none;
}

/* Footer */

#footer {
    width: 960px;
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
}

#footer p {
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center;
    font-size: smaller;
}

#footer a {
}

#footer .link {
    float: right;
}

#footer .copyright {
    float: left;
}

.homeText {
    line-height: 175%;
}

.homeMenu {
    width:200px;
    float:left;
    margin-right:10px
}

.new {
    color: #FF9900 !important;
    font-weight: bold;
    display:block;
}

.ui-widget {
    font-size: 98% !important;
}

.ui-growl {
    top:115px;
}

.themeMenu {
    overflow: auto;
    height:300px;
    width:200px;
}

.sidebar .wijmo-wijmenu a {
    text-decoration: none !important;
}

.dp-xml {
    width:1000px;
}