
.iconPassagem{
    background-image:  url("../images/Message.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}
.iconBalanca{
    background-image:  url("../images/iconBalanca.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}
.iconBalanca img{
    width: 16px;
}

.iconCalculadora{
    background-image:  url("../images/Calculator.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconCifrao{
    background-image:  url("../images/Dollar.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconListagem{
    background-image:  url("../images/List.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconCarimbo{

    background-image:  url("../images/icon-carimbo16x16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconPessoas{
    background-image:  url("../images/People.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}


.iconIniciar{
    background-image:  url("../images/Play.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconCompra{
    background-image:  url("../images/Buy.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSeguranca{
    background-image:  url("../images/Unlock.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconPessoa{
    background-image:  url("../images/pessoa.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconMenu{
    background-image:  url("../images/icon16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}


.iconCopia{
    background-image:  url("../images/Copy.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconEditar{
    background-image:  url("../images/editar.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}
.iconDownload1{
    background-image:  url("../images/download.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}
.iconDownload2{
    background-image:  url("../images/download3.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconFiltro{
    background-image:  url("../images/filtro.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}



.iconGrafico2{
    background-image:  url("../images/bar_chart.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}
.iconGrafico{
    background-image:  url("../images/Pie_chart.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconChave  {
    background-image:  url("../images/Blue_key.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconAtualizar{
    background-image:  url("../images/Sync.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconAndamento{
    background-image:  url("../images/andamento_16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconPrevious{
    background-image:  url("../images/previous16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconNext{
    background-image:  url("../images/next16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconDataBase{
    background-image:  url("../images/database.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}


.iconFechar{
    background-image:  url("../images/delete.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSetaDireita{
    background-image:  url("../images/Go_forward.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSetaEsquerda{
    background-image:  url("../images/setaEsquerda.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}


.iconSetaBaixo{
    background-image:  url("../images/save.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSetaCima{
    background-image:  url("../images/cima.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconDisplay{
    background-image:  url("../images/display16.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSair{
    background-image:  url("../images/exit.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconRegistro{
    background-image:  url("../images/pencil.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconBuscar{
    background-image:  url("../images/search.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconSalvar{
    background-image:  url('../images/disk.png') !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconNovo{
    background-image:  url("../images/new.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}



.iconAdicionar{
    background-image:  url("../images/add.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}



.iconAgenda{
    background-image:  url("../images/relogio.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconAnotacao{
    background-image:  url("../images/Notes.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconRemover{
    background-image:  url("../images/Delete16.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconAvancar{
    background-image:  url("../images/redo.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconRetornar{
    background-image:  url("../images/undo.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconImprimir{
    background-image:  url("../images/print.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconLimpar{
    background-image:  url("../images/edit_clear.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconCalendario{
    background-image:  url("../images/Calendar.gif") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;

}

.iconAltoFalante{
    background-image:  url("../images/sound.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.iconOk{
    background-image:  url("../images/OK_1.png") !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin: -1px;
}

.titlebar2{
    border: 0px;
    color: white;
}
.tarefaEmVencimento{
    background-color: yellow;
}

.tarefaAVencer{
    background-color: white;
}

.tarefaVencida{
    background-color: #de2727;
    color: white;
}

.tarefaExecutada{
    background-color: #b3dbb3;
}

.tarefaEmSupervisao{
    background-color: #b3dbb3;
}

.ui-menu-item{
    padding-right: 50px;
}

.buttonIcon{
    background-image:   url('../template/images/editar.gif') !important ;

    height:16px;
    width: 14px;
}

.obrigatorio{
    float: right;
    height:13px;
    width: 13px;
    position: relative;
    left: 1px;
}


.ui-state-active{
    background: #DC8700;
}

.ui-toolbar{
    background: transparent;
    /*background: #72919d;
    border: 0px;*/
}

.ui-panel-title{
    position: relative;
    top: 1px;
    font-weight: normal;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

}

.ui-toolbar{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.ui-panel-footer{
    font-weight: bold;
    color: black;
    font-size: 10px;
    font-family: arial;
}
.ui-fieldset .ui-fieldset-legend{
    height: 9px;
}

.ui-panel-titlebar{
    -webkit-border-radius: 2px;
    /*height: 11px;*/
    height: 18px;
    background: #7C8490;

    border: 0px;
}

.ui-accordion-header{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px; 
    background-color:#b3ac95;
    font-size: 10px;
    font-weight: normal;
}
.wijmo-wijmenu{
    background-color:#b3ac95;
}

.ui-corner-br{
    background-color: #b3ac95;
}

.tb-red-color{
    background-color: #e4ebf4;
}
.ui-datalist{
    width: 330px;
}

.ui-button:focus{
    background: #13458e !important;
}

.ui-datatable-header{
    font-size: 16px;    
    background-color:  #51789f !important;
    border: 0px;
    font-weight: normal;
    border-radius: 0;
    color: white !important;
}

.colum-table{
    font-size: 13px !important;
    font-family: arial !important;
    border-radius: 0 !important;
    font-weight: 100 !important;
    height: 20px;
}


td{
    padding: 0px;
}

.ui-fundo{
    background-color:#f7f1f1;
}

.ui-fieldset{
    background: inherit;
}
.ui-fieldset-legend{
    font-size: 10px;
}


.ui-button{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

}


/*.ui-button-text{
    font-size: 11px;
    font-weight: normal;
}*/

.ui-panel{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: 0px
}

.ui-autocomplete-panel{
    font-size: 10px;
}

.fileupload-content{
    height: 0px;
}
.ui-tabs{
    background: inherit;
}

.ui-tabs-panel{
    background: inherit;
}

.ui-tabs-nav{
    background: inherit;
    font-size: 10px;
    font-weight: normal;
}

.ui-panel-footer{
    background: inherit;
}

.ui-accordion{
    background: inherit;
}

.ui-accordion-content{

    background: inherit;
}

.ui-dialog{
    background: #f2eee4;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

.ui-dialog-titlebar{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border: 0px;
    background: #304268;
}



.ui-growl-item-container{
    background: #333333;
    color: white;
}
.fundo{
    background-color:  transparent;

}
.fundoResumoAtendimento{
    background-color: white;
}

.ui-panel-content{
    background: #f7f1f1;
}

textarea[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

input[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

select[disabled] {
    border: 1px solid #999;
    background-color: #ddd;
}

select {
    font-size: 10px;

    height: 20px;
    vertical-align: middle;
}

input[type="text"] {
    font-size: 10px;
    height: 15px;


    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    -border-radius:0px;
    border: 1px;
    border-style: solid;
    border-color: #a8a8a8;
}

input[type=text]:focus {
    background-color: #f9f9c1;
    color: #000;
}
input[type=password]:focus {
    background-color: #f9f9c1;
    color: #000;
}

select:focus {
    background-color: #f9f9c1;
    color: #000;
}

textarea:focus {
    background-color: #f9f9c1;
    color: #000;
}

textarea {
    color: #000;
}

input[type=checkbox]:focus + label, input[type=radio]:focus + label {
    background-color: #f9f9c1;
    color: #000;
    border-color: #ebebb7;
    border-right-color: #006699;
    border-left-color: #006699;
    border-bottom-color: #006699;
    border-top-color: #006699;
}

.imgAtendente{
    background-image:  url('../template/images/atendente.gif');
}

.imgEditar {
    background-image: url("../template/images/editar.gif") !important;
}

.imgExcluir {
    background-image: url("../template/images/excluir.gif") !important;
}

.apple {
    background: url(../template/images/macosx/apple.png);
    width:16px;
    height:16px;
    background-color: transparent;
    background-repeat: no-repeat;
}

.menuIcon {
    background: url(../template/images/menu.png) !important;
    width:17px;
    height:16px;

    background-color: transparent;
    background-repeat: no-repeat;
}

.menuIconMais {
    background: url(../template/images/add.png) !important;
    width:17px;
    height:16px;

    background-color: transparent;
    background-repeat: no-repeat;
}

body {
    margin: 0px;
    padding: 0;
    font-size: 11px;
    color: #616161;
    color: black;

}



h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
    margin-top:20px;
}

ul {
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}


.post {
    padding-bottom: 15px;
}

.post h1 {
    font-weight: normal;
}

.title {
    height: 30px;
    margin-left: 10px;
    padding: 8px 0 0 20px;
}

.title a {
    border-bottom: none;
    color: #FFFFFF;
}

.title a:hover {
    border-bottom: 1px dotted #000000;
}

.byline {
    margin: -60px 20px 20px 20px;
}

.byline a {
    color: #DC8700;
}

.tag {
    padding: 0 15px;
}

.entry {
    padding: 0 20px;
}

.entry p {
    line-height: 200%;
}

.links {
    padding: 4px 0px;
    text-align: right;
    font-weight: bold;
}

.links a {
    border: none;
}

.links a:hover {
}

.sidebar {
    float: left;
    width: 240px;
    padding: 0;
    font-size: 12px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 0 0 20px 0;
}

.sidebar span {
    cursor: pointer;
}

.sidebar li ul {
}

.sidebar li li {
    margin: 0 10px 0 10px;
    padding: 3px 0px;
}


.sidebar li h2 {
    height: 40px;
    margin: 0 0 0 0;
    padding: 20px 15px 0px 65px;
    background: url(../template/images/img04.jpg) no-repeat left top;
    letter-spacing: -1px;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
}

.sidebar a {
}

.sidebar a:hover {
    text-decoration: underline;
}

/* Search */

#searchform {
    margin: 0;
    padding: 0 0 0 0;
}


#searchform h2 {
}

#s {
    margin: 10px 0px 0 15px;
    padding: 2px 2px;
    width: 180px;
    height: 18px;
    border: 1px solid #6F6E6E;
    background: #FFFFFF;
    font-size: 10px;
    color: #000000;
}

#x {
    margin: 0;
    padding: 2px 5px;
    height: 25px;
    background: #CA8186;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #CCCCCC;
}
/* Calendar */

#calendar_wrap {
    padding: 0 15px;
    text-align: center;

}

#calendar_wrap table {
    width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
    border: none;
}

#calendar_wrap tfoot td#prev {
    text-align: left;
    font-weight: bold;
    border: none;
}

#calendar_wrap tfoot td#prev a {
    border: none;
}

#calendar_wrap tfoot td#next {
    text-align: right;
    font-weight: bold;
    border: none;
}

#calendar_wrap tfoot td#next a {
    border: none;
}

/* Footer */

#footer {
    width: 960px;
    height: 70px;
    margin: 0 auto;
    padding: 0 20px;
}

#footer p {
    margin: 0;
    padding: 25px 0 0 0;
    text-align: center;
    font-size: smaller;
}

#footer a {
}

#footer .link {
    float: right;
}

#footer .copyright {
    float: left;
}

.homeText {
    line-height: 175%;
}

.homeMenu {
    width:200px;
    float:left;
    margin-right:10px
}

.new {
    color: #FF9900 !important;
    font-weight: bold;
    display:block;
}

.ui-widget {
    font-size: 98% !important;
}

.ui-growl {
    top:115px;

}

.themeMenu {
    overflow: auto;
    height:300px;
    width:200px;
}

.sidebar .wijmo-wijmenu a {
    text-decoration: none !important;
}

.dp-xml {
    width:1000px;
}

.ui-datatable tr:hover{
    background: #b3dbe8 !important;
}

/******************************************************************************/
/******************************** CSS-Login ***********************************/

.imgBackground{

    background-image: url("../images/pdv-tela-login.png")   !important;
    background-size: cover;
    background-repeat: no-repeat !important;
}
.divLoginPrincipal{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -175px;
    width: 350px;
    background:rgba(255, 255, 250, 0.90);
    height: 350px;   
    border-radius: 5px;
}
.loginImgContent{
    height: 335px !important;
    margin-left: -5px;
    margin-top: -6px;

}

.divLoginValue{
    margin-top: 60px;
}
.outputLogin{
    color: #0067B8;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.outputContaLogin{
    color: #0067B8 ;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.imgCloseLogin{
    float: right;
    position: relative;
    top: -60px!important;
    cursor: pointer !important;
}
/******************************** CSS-Padrao **********************************/
#menu:hover{
    background:white !important ;
}
#sair:hover{
    background:white !important ;
}
#recep :hover{
    background: #E7E7E7;
    border-radius: 5px;
    color: white
}
#divMesas :hover{
    background: #524c4c !important;

    color: white
}
#divCardapio :hover{
    background: #DDDDDD !important;

    color: white
}



.imgLogoIniciar{
    height: 50px !important;
    margin-top: -8px;

}
.menuBar{
    background:  #5A9FED;
    height: 52.2px;
}

.divPanelMenu{
    float:right; 
}
.divContent{
    background: white;
    width: 99% !important;
    margin-left: 6px;
    margin-top: 10px
}
.divMenu{
    background: #ECF0F5;
    width: 150px !important;
    height: 30px !important;
    text-align: center !important;
    cursor: pointer !important;
}
.linkMenu{
    color: #13458e;
    font-size: 12px;
    position: relative;
    top: 10px;
    font-weight: bold;
    cursor: pointer;
}
/***************************** CSS-Componentes ********************************/

.ui-datagrid-content{
    background: transparent !important;
    border: transparent !important;
}

.coluna1{
    font-size: 12px;
    width: 120px;
    height: 12px !important;;
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    background: #FFFFFF;
    padding: 3px;
    color: black;
    margin: 0;
    font-weight: 600;
}

.coluna2{
    text-align: left;
    font-size: 12px;
}
.ui-button:hover{
    background-color: #13458e !important;
}
.autoComplete{
    width: 300px !important;
    font-size: 13px;
    height: 10px !important;
    border-radius: 3px!important;
}

.inputSetting{
    width: 120px !important;
    height: 16px !important;
    font-size: 12px !important;
    border-radius: 3px !important;
}

.ui-widget-content
.ui-inputfield,
.ui-widget-header
.ui-inputfield{
    border-color: #999;
    -moz-box-shadow:inset 0 0px 0px #8f8f8f;
    -webkit-box-shadow:inset 0 0px 0px #8f8f8f;
    -box-shadow:inset 0 0px 0px #8f8f8f;
    text-decoration: none;
    color:#313131;

}


.ui-inputfield{
    width: 112px;
    height: 16px !important;
    font-size: 11.5px !important;
    border-radius: 2px !important;
}

.inputSettingCalendar{
    width: 142px !important;
    height: 14px !important;
    font-size: 12px !important;
    text-align: center;
    border-radius: 3px !important;
}

.inputSettingCenter{
    width: 120px !important;
    height: 16px !important;
    font-size: 12px !important;
    text-align: center;
    border-radius: 3px !important;
}

.inputSettingRight{
    width: 120px !important;
    height: 16px !important;
    font-size: 12px !important;
    text-align: right;
    border-radius: 3px !important;
}

.inputSelectOnMenu{
    width: 122px !important;
    height: 22px !important;
    font-size: 12px !important;
    border-radius: 3px !important;
}

.inputSettingName{
    width: 353px !important;
    height: 16px !important;
    font-size: 12px !important;
    border-radius: 3px !important;
}

.buttonSettingRest1{
    width: 110px !important;
    height: 30px !important;
    background: #D9534F !important;
    color: white !important;
    font-size: 12px !important;
    font-weight:normal !important;
    font-family: arial !important;
    border: 0 !important;
}
.buttonSettingRest2{
    width: 110px !important;
    height: 30px !important;
    background: #1C7CD5 !important;
    color: white !important;
    font-size: 12px !important;
    font-weight:normal !important;
    font-family: arial !important;
    border: 0 !important;
}
.buttonSettingRest3{
    width: 110px !important;
    height: 30px !important;
    background: #5CB85C !important;
    color: white !important;
    font-size: 12px !important;
    font-weight:normal !important;
    font-family: arial !important;
    border: 0 !important;
}
.buttonSettingNormal{
    width: 30px !important;
    height: 25px !important;
    background: #1C7CD5 !important;
    color: white !important;
    font-size: 13px !important;
    font-weight:normal !important;
    font-family: arial !important;
    border: 0 !important;
}
.buttonSettingNormal2{
    width: 30px !important;
    height: 25px !important;
    background: #C7C7C7 !important;
    color: white !important;
    font-size: 13px !important;
    font-weight:normal !important;
    font-family: arial !important;
    border: 0 !important;
}
.buttonSetting{
    width: 120px !important;
    height: 23px !important;
    background: #1C7CD5 !important;
    color: white !important;
    font-size: 13px !important;
    font-weight:normal !important;
    font-family: arial !important;
    border: 0 !important;
}
.buttonSettingCadaster{
    width: 100px !important;
    height: 40px !important;
    background: #55A0F5 !important;
    color: white !important;
    font-size: 13px !important;
    font-weight:normal !important;
    font-family: arial !important;
    border: 0 !important;
}
.singleLine{
    text-wrap:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.top-dialog {
    top: 150px !important;

}
.top-dialog-calendar {
    top: 150px !important;
    width: 270px !important;

}
.colTop{
    vertical-align: top;
}
.rowBaixo{
    background: #E5E5E5;
    font-size: 11px !important;
    font-weight: bold;
}
.rowRelativo{
    background: #95C5E9;
    font-size: 11px !important;
    font-weight: bold;
    color: white;
}
.rowCritico{
    background: #F94753;
    font-size: 11px !important;
    font-weight: bold;
    color: white;
}
.rowEmAndamento{
    background: #FF694C;
    font-size: 11px !important;
    font-weight: bold;
    color: white;
}
.rowConcluido{
    background: #98C57B;
    font-size: 11px !important;
    font-weight: bold;
    color: white;
}

/******************************** CSS-Dialog **********************************/
.autoCompleteDialog{
    width: 300px !important;
    font-size: 13px;
    height: 10px !important;
    border-radius: 3px!important;
}
.inputSettingCalendarDialog{
    width: 68px !important;
    height: 10px !important;
    font-size: 12px !important;
    text-align: center;
    border-radius: 3px !important;
}
.inputSettingDialog{
    width: 74px !important;
    height: 15px !important;
    font-size: 10px !important;
    text-align: right;
    border-radius: 2px !important;
}

@media all and (max-width:1080px){

    .menuBar{
        background:  #5A9FED;
        height: 80px;
    }
    .divPanelMenu{
        position: relative;top: -20.5px;
    }
    .divMenu{
        background: #D8DFE7;
        width: 460px !important;
        height: 30px !important;
        text-align: center !important;
        cursor: pointer !important;
    }
    .linkMenu{
        color: #13458e;
        font-size: 10.5px;
        position: relative;
        top: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .ui-datatable-header{
        font-size: 12px !important;    
        background-color:  #51789f !important;
        border: 0px;
        font-weight: normal;
        border-radius: 0;
        color: white !important;
    }
    #sub .ui-datatable-header{
        font-size: 16px !important;    
        background-color:  #51789f !important;
        border: 0px;
        font-weight: normal;
        border-radius: 0;
        color: white !important;
    }
    .colum-table{
        font-size: 11px !important;
        font-family: arial !important;
        border-radius: 0 !important;
        font-weight: bold !important;
    }
    .colum-tableAction{
        height: 30px!important;
    }
    .coluna1{
        font-size: 11px;
        width: 150px!important;
        border: 1px solid #C7C7C7;
        border-radius: 3px;
        background: #FFFFFF;
        padding: 2px;
        color: black;
        margin: 0;
        font-weight: 600;
    }
    .coluna2{
        text-align: left;
        font-size: 10px;
    }
    .autoComplete{
        width: 255px !important;
        font-size: 10px !important;
        height: 8px !important
    }
    .inputSetting{
        width: 130px !important;
        height: 13px !important;
        font-size: 10px !important;
        border-radius: 2px !important;
    }


    .inputSettingCalendar{
        width: 120px !important;
        height: 8px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingCenter{
        width: 130px !important;
        height: 13px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingRight{
        width: 130px !important;
        height: 13px !important;
        font-size: 10px !important;
        text-align: right;
        border-radius: 2px !important;
    }
    .divMenuContent{
        margin-left: 95px !important;
    }
    .inputSettingName{
        width: 245px !important;
        height: 18px !important;
        font-size: 12px !important;
        border-radius: 3px !important;
    }
    .buttonSettingRest1{
        width: 80px !important;
        height: 30px !important;
        background: #D9534F !important;
        color: white !important;
        font-size: 12px !important;
        font-weight:normal !important;
        font-family: arial !important;
        border: 0 !important;
    }
    .buttonSettingRest2{
        width: 80px !important;
        height: 30px !important;
        background: #1C7CD5 !important;
        color: white !important;
        font-size: 12px !important;
        font-weight:normal !important;
        font-family: arial !important;
        border: 0 !important;
    }
    .buttonSettingRest3{
        width: 80px !important;
        height: 30px !important;
        background: #5CB85C !important;
        color: white !important;
        font-size: 12px !important;
        font-weight:normal !important;
        font-family: arial !important;
        border: 0 !important;
    }
}

@media all and (max-width:800px){
    .divMenuContent{
        margin-left: 58px !important;
    }
    .divContent{
        min-height: calc(81.8vh);
        background: white;
        width: 99% !important;
        margin-left: 4px;
        margin-top: 10px
    }
    .divMenu{
        background: #D8DFE7;
        width: 365px!important;
        height: 30px !important;
        text-align: center !important;
        cursor: pointer !important;
    }
    .linkMenu{
        color: #13458e;
        font-size: 10.5px;
        position: relative;
        top: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .coluna1{
        font-size: 11px;
        width: 150px!important;
        border: 1px solid #C7C7C7;
        border-radius: 3px;
        background: #FFFFFF;
        padding: 2px;
        color: black;
        margin: 0;
        font-weight: 600;
    }
    .coluna2{
        text-align: left;
        font-size: 10px;
    }
    .autoComplete{
        width: 235px !important;
        font-size: 10px !important;
        height: 8px !important
    }
    .inputSetting{
        width: 120px !important;
        height: 12px !important;
        font-size: 10px !important;
        border-radius: 2px !important;
    }
    .inputSettingCalendar{
        width: 110px !important;
        height: 8px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingCenter{
        width: 120px !important;
        height: 12px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingRight{
        width: 120px !important;
        height: 12px !important;
        font-size: 10px !important;
        text-align: right;
        border-radius: 2px !important;
    }
    .inputSettingName{
        width: 160px !important;
        height: 18px !important;
        font-size: 12px !important;
        border-radius: 3px !important;
    }
    .buttonSettingRest1{
        width: 70px !important;
        height: 30px !important;
        background: #D9534F !important;
        color: white !important;
        font-size: 12px !important;
        font-weight:normal !important;
        font-family: arial !important;
        border: 0 !important;

    }
    .buttonSettingRest2{
        width: 70px !important;
        height: 30px !important;
        background: #1C7CD5 !important;
        color: white !important;
        font-size: 12px !important;
        font-weight:normal !important;
        font-family: arial !important;
        border: 0 !important;
    }
    .buttonSettingRest3{
        width: 55px !important;
        height: 30px !important;
        background: #5CB85C !important;
        color: white !important;
        font-size: 12px !important;
        font-weight:normal !important;
        font-family: arial !important;
        border: 0 !important;
    }

}
@media all and (max-width:750px){
    .divLoginPrincipal{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        margin-left: -150px;
        height: 260px;
        margin-top: -130px;
        background:rgba(255, 255, 250, 0.87);
    }

    .divLoginContent{
        height: 210px !important;
    }
    .loginImgContent{
        height: 210px !important;
        margin-left: -5px;
        margin-top: -6px;
        width: 103.5%;
    }
    .divLoginValue{
        margin-top: 0px;
    }
    .outputLogin{
        color: #0067B8;
        font-size:18px;
        font-family: 'Open Sans', sans-serif;
    }

    .imgCloseLogin{
        float: right;
        position: relative;
        top: 0px!important;
        cursor: pointer !important;
    }

    .divContent{
        background: white;
        width: 99% !important;
        margin-left: 3px;
        margin-top: 10px
    }
    .divMenu{
        background: #D8DFE7;
        width: 300px!important;
        height: 30px !important;
        text-align: center !important;
        cursor: pointer !important;
    }
    .linkMenu{
        color: #13458e;
        font-size: 10.5px;
        position: relative;
        top: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .coluna1{
        font-size: 10px;
        width: 150px!important;
        border: 1px solid #C7C7C7;
        border-radius: 3px;
        background: #FFFFFF;
        padding: 2px;
        color: black;
        margin: 0;
        font-weight: 600;
    }
    .coluna2{
        text-align: left;
        font-size: 10px;
    }
    .autoComplete{
        width: 220px !important;
        font-size: 10px !important;
        height: 9px !important
    }
    .inputSetting{
        width: 110px !important;
        height: 12px !important;
        font-size: 10px !important;
        border-radius: 2px !important;
    }
    .inputSettingCalendar{
        width: 100px !important;
        height: 8px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingCenter{
        width: 110px !important;
        height: 12px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingRight{
        width: 110px !important;
        height: 12px !important;
        font-size: 10px !important;
        text-align: right;
        border-radius: 2px !important;
    }

    .buttonSetting{
        width: 100px !important;
        height: 30px !important;
        background: #55A0F5 !important;
        color: white !important;
        font-size: 10px !important;
        font-family: arial !important;
        border: 0 !important;
    }


}

@media all and (max-width:650px){
    .imgBackground{
        /*        background-image: url("../images/fundo-tablet.png") !important;*/
        background-image: url("../images/pdv-tela-login.png")  !important;

        background-size: cover;
    }
    .divMenu{
        background: #D8DFE7;
        width: 270px!important;
        height: 30px !important;
        text-align: center !important;
        cursor: pointer !important;
    }
    .linkMenu{
        color: #13458e;
        font-size: 10.5px;
        position: relative;
        top: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .coluna1{
        font-size: 10px;
        width: 120px!important;
        border: 1px solid #C7C7C7;
        border-radius: 3px;
        background: #FFFFFF;
        padding: 2px;
        color: black;
        margin: 0;
        font-weight: 600;
    }
    .coluna2{
        text-align: left;
        font-size: 10px;
    }
    .autoComplete{
        width: 220px !important;
        font-size: 10px !important;
        height: 8px !important
    }
    .inputSetting{
        width: 110px !important;
        height: 12px !important;
        font-size: 10px !important;
        border-radius: 2px !important;
    }
    .ui-inputfield{
        width: 94px;
        height: 9px !important;
        font-size: 11.5px !important;

        border-radius: 3px !important;
    }
    .inputSettingCalendar{
        width: 105px !important;
        height: 8px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingCenter{
        width: 110px !important;
        height: 12px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingRight{
        width: 110px !important;
        height: 12px !important;
        font-size: 10px !important;
        text-align: right;
        border-radius: 2px !important;
    }

    .divMenuContent{
        margin-left: 70px !important;
    }

    .buttonSettingRest1{
        width: 80px !important;
        height: 30px !important;
        background: #D9534F !important;
        color: white !important;
        font-size: 12px !important;
        font-weight:normal !important;
        font-family: arial !important;
        border: 0 !important;
    }
    .buttonSettingRest2{
        width: 80px !important;
        height: 30px !important;
        background: #1C7CD5 !important;
        color: white !important;
        font-size: 12px !important;
        font-weight:normal !important;
        font-family: arial !important;
        border: 0 !important;
    }
    .buttonSettingRest3{
        width: 80px !important;
        height: 30px !important;
        background: #5CB85C !important;
        color: white !important;
        font-size: 12px !important;
        font-weight:normal !important;
        font-family: arial !important;
        border: 0 !important;
    }

    /******************************** CSS-Dialog **********************************/
    .autoCompleteDialog{
        width: 220px !important;
        font-size: 13px;
        height: 10px !important;
        border-radius: 3px!important;
    }
    .inputSettingCalendarDialog{
        width: 48px !important;
        height: 10px !important;
        font-size: 12px !important;
        text-align: center;
        border-radius: 3px !important;
    }
    .inputSettingDialog{
        width: 54px !important;
        height: 15px !important;
        font-size: 10px !important;
        text-align: right;
        border-radius: 2px !important;
    }
}

@media all and (max-width:550px){
    .divMenuContent{
        margin-left: 38px !important;   
    }

    .colum-table{
        font-size: 9px !important;
        font-family: arial !important;
        border-radius: 0 !important;
        font-weight: 500 !important;

    }
    .divMenu{
        background: #D8DFE7;
        width: 210px!important;
        height: 30px !important;
        text-align: center !important;
        cursor: pointer !important;
    }
    .linkMenu{
        color: #13458e;
        font-size: 10.5px;
        position: relative;
        top: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .coluna1{
        font-size: 10px;
        width: 100px!important;
        border: 1px solid #C7C7C7;
        border-radius: 3px;
        background: #FFFFFF;
        padding: 2px;
        color: black;
        margin: 0;
        font-weight: 600;
    }
    .coluna2{
        text-align: left;
        font-size: 10px;
    }
    .autoComplete{
        width: 200px !important;
        font-size: 10px !important;
        height: 8px !important
    }
    .inputSetting{
        width: 100px !important;
        height: 12px !important;
        font-size: 10px !important;
        border-radius: 2px !important;
    }
    .inputSettingCalendar{
        width: 95px !important;
        height: 8px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingCenter{
        width: 100px !important;
        height: 12px !important;
        font-size: 10px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingRight{
        width: 100px !important;
        height: 12px !important;
        font-size: 10px !important;
        text-align: right;
        border-radius: 2px !important;
    }
    .inputSettingName{
        width: 305px !important;
        height: 18px !important;
        font-size: 12px !important;
        border-radius: 3px !important;
    }

}

@media all and (max-width:380px){

    .divMenuContent{
        margin-left: 27px !important;   
    }
    .divMenu{
        background: #D8DFE7;
        width: 158px!important;
        height: 30px !important;
        text-align: center !important;
        cursor: pointer !important;
    }

    .divContent{
        background: white;
        width: 99% !important;
        margin-left: 1px;
        margin-top: 10px
    }

    .linkMenu{
        color: #13458e;
        font-size: 8px;
        position: relative;
        top: 10px;
        font-weight: bold;
        cursor: pointer;
    }
    .coluna1{
        font-size: 10px;
        width: 100%!important;
        border: 1px solid #C7C7C7;
        border-radius: 3px;
        background: #FFFFFF;
        padding: 2px;
        color: black;
        margin: 0;
        font-weight: 600;
    }
    .coluna2{
        text-align: left;
        font-size: 10px;
    }
    .autoComplete{
        width: 185px !important;
        font-size: 10px !important;
        height: 7px !important
    }

    .inputSettingName{
        width: 257px !important;
        height: 18px !important;
        font-size: 12px !important;
        border-radius: 3px !important;
    }

    .inputSetting{
        width: 100px !important;
        height: 16px !important;
        font-size: 12px !important;
        border-radius: 2px !important;
    }
    .inputSettingCalendar{
        width: 85px !important;
        height: 10px !important;
        font-size: 12px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingCalendarDialog{
        width: 48px !important;
        height: 10px !important;
        font-size: 9px !important;
        text-align: center;
        border-radius: 3px !important;
    }
    .inputSettingCenter{
        width: 92px !important;
        height: 16px !important;
        font-size: 12px !important;
        text-align: center;
        border-radius: 2px !important;
    }
    .inputSettingRight{
        width: 100px !important;
        height: 16px !important;
        font-size: 12px !important;
        text-align: right;
        border-radius: 2px !important;
    }

    .buttonSetting{
        width: 75px !important;
        height: 20px !important;
        background: #55A0F5 !important;
        color: white !important;
        font-size: 8px !important;
        font-family: arial !important;
        border: 0 !important;
    }
}
@media all and (max-width:370px){
    .inputSettingName{
        width: 240px !important;
        height: 18px !important;
        font-size: 12px !important;
        border-radius: 3px !important;
    }
}
@media all and (max-width:320px){
    .divMenu{
        background: #D8DFE7;
        width: 120px!important;
        height: 30px !important;
        text-align: center !important;
        cursor: pointer !important;
    }
    .divMenuContent{
        margin-left: 14px !important;   
    }
    .inputSettingName{
        width: 202px !important;
        height: 18px !important;
        font-size: 12px !important;
        border-radius: 3px !important;
    }

}
