<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./templateModulos.xhtml">
            <ui:param name="view" value="#{principalView}"/>
            <ui:param name="value" value="true"/>
            <ui:define name="content">
                <!--<h:outputText value="#{view.titulo}"/>-->
            </ui:define>

        </ui:composition>

    </body>
</html>
