<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template.xhtml">
            <ui:param name="titulo" value="Cadastros"/>
            <ui:param name="value" value="true"/>
            <ui:define name="content">
                <div class="ui-g-12 divMenuContent" style="margin-top: -20px">
                    <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                        <div style="width: 105px;height: 118px;cursor: pointer" title="Cadastro de Cliente" onclick="document.getElementById('geral:cad1').click()" id="recep" >
                            <h:panelGroup style="position: relative;top: 4px">
                                <center>
                                    <img src="../images/cadCliente.png" height="90px" onclick="document.getElementById('geral:cad1').click()"/>
                                    <p:commandLink value="Cliente" onclick="cadCliente()"  id="cad1" title="Cadastro de Cliente" 
                                                   style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                                </center>
                            </h:panelGroup>
                        </div>
                    </div>
                    <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                        <div style="width: 105px;height: 118px;cursor: pointer" title="Cadastro de Fornecedor"  onclick="document.getElementById('geral:cad2').click()" id="recep" >
                            <h:panelGroup style="position: relative;top: 4px">
                                <center>
                                    <img src="../images/cadFornecedor.png" height="90px" onclick="document.getElementById('geral:cad2').click()"/>
                                    <p:commandLink value="Fornecedor" onclick="cadFornecedor()"  id="cad2" title="Cadastro de Fornecedor" 
                                                   style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                                </center>
                            </h:panelGroup>
                        </div>
                    </div>
                    <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                        <div style="width: 105px;height: 118px;cursor: pointer" title="Cadastro de Produto"  onclick="document.getElementById('geral:cad3').click()" id="recep" >
                            <h:panelGroup style="position: relative;top: 4px">
                                <center>
                                    <img src="../images/cadProduto.png" height="90px" onclick="document.getElementById('geral:cad3').click()"/>
                                    <p:commandLink value="Produto" onclick="cadProduto()"  id="cad3" title="Cadastro de Produto" 
                                                   style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                                </center>
                            </h:panelGroup>
                        </div>
                    </div>
                    <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                        <div style="width: 105px;height: 118px;cursor: pointer" title="Cadastro de Departamento" onclick="document.getElementById('geral:cad4').click()" id="recep" >
                            <h:panelGroup style="position: relative;top: 4px">
                                <center>
                                    <img src="../images/cadProduto.png" height="90px" onclick="document.getElementById('geral:cad4').click()"/>
                                    <p:commandLink value="Departamento" onclick="cadDepartamento()"  id="cad4" title="Cadastro de Departamento" 
                                                   style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                                </center>
                            </h:panelGroup>
                        </div>
                    </div>
                    <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                        <div style="width: 105px;height: 118px;cursor: pointer" title="Cadastro de Seção"  onclick="document.getElementById('geral:cad5').click()" id="recep" >
                            <h:panelGroup style="position: relative;top: 4px">
                                <center>
                                    <img src="../images/cadProduto.png" height="90px" onclick="document.getElementById('geral:cad5').click()"/>
                                    <p:commandLink value="Seção" onclick="cadSecao()"  id="cad5" title="Cadastro de Seção" 
                                                   style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                                </center>
                            </h:panelGroup>
                        </div>
                    </div>
                    <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                        <div style="width: 105px;height: 118px;cursor: pointer" title="Cadastro de Usuário" onclick="document.getElementById('geral:cad6').click()" id="recep" >
                            <h:panelGroup style="position: relative;top: 4px">
                                <center>
                                    <img src="../images/cadUsuario.png" height="90px" onclick="document.getElementById('geral:cad6').click()"/>
                                    <p:commandLink value="Usuário" onclick="cadUsuario()"  id="cad6" title="Cadastro de Usuário" 
                                                   style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                                </center>
                            </h:panelGroup>
                        </div>
                    </div>
                    <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                        <div style="width: 105px;height: 118px;cursor: pointer" title="Cadastro de Mesas" onclick="document.getElementById('geral:cad7').click()" id="recep" >
                            <h:panelGroup style="position: relative;top: 4px">
                                <center>
                                    <img src="../images/cadUsuario.png" height="90px" onclick="document.getElementById('geral:cad7').click()"/>
                                    <p:commandLink value="Mesas" onclick="cadMesas()"  id="cad7" title="Cadastro de Mesas" 
                                                   style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                                </center>
                            </h:panelGroup>
                        </div>
                    </div>

                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
