<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                        template="./template.xhtml">
            <ui:param name="view" value="#{clienteView}"/>
            <ui:param name="value" value="false"/>
            <ui:define name="content">
                <h:panelGroup id="cadCliente">
                    <h:panelGroup rendered="#{!clienteView.cadasterCliente}">
                        <p:dataTable value="#{clienteView.clientes}"   id="listaClientes" scrollable="true"
                                     var="cliente" 
                                     rows="5" paginator="true" paginatorPosition="top" >
                            <f:facet name="header">
                                <h:outputText value="Registros(#{clienteView.clientes.size()})"/>
                                <p:commandButton value="Adicionar" id="addCliente" icon="iconAdicionar" 
                                                 action="#{view.cadastrarCliente()}" title="Adicionar Cliente"
                                                 update=":geral:cadCliente" styleClass="buttonSetting" />
                            </f:facet>
                            <p:column headerText="Ação" style="width: 55px;text-align: center" class="colum-table" >
                                <p:commandButton icon="iconEditar" action="#{clienteView.editarCliente()}"
                                                 style="background:transparent;border: 0 " update=":geral" title="Editar Cliente">
                                    <f:setPropertyActionListener target="#{clienteView.cliente}" value="#{cliente}"/>
                                </p:commandButton>
                                <p:commandButton icon="iconFechar" oncomplete="alertRemover('1')"
                                                 style="background:transparent;border: 0 " title="Deletar Cliente">
                                    <f:setPropertyActionListener target="#{clienteView.cliente}" value="#{cliente}"/>
                                </p:commandButton>
                            </p:column>
                            <p:column headerText="Id" style="width: 50px;text-align: center" class="colum-table" >
                                <h:outputText value="#{cliente.id}"/>
                            </p:column>
                            <p:column headerText="Situação" style="width: 80px !important;text-align: center" class="colum-table"  >
                                <h:outputText value="#{cliente.ativo?'ATIVO':'INATIVO'}" />
                            </p:column>
                            <p:column headerText="CPF/CNPJ" style="width: 100px;text-align: center" class="colum-table" >
                                <h:outputText value="#{cliente.pessoa.cpfCnpjDesc}" />
                            </p:column>
                            <p:column headerText="Cliente" style="width: 300px;text-align: justify" class="colum-table" >
                                <h:outputText value="#{cliente.nmCliente}"/>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{clienteView.cadasterCliente}">
                        <div class="ui-g-12">
                            <div class="ui-g-12 ui-md-6 ui-lg-6">
                                <h:panelGroup>
                                    <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                                        <h:panelGroup>
                                            <h:outputText value="Situação:"/>
                                            <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                        </h:panelGroup>
                                        <h:selectOneMenu value="#{clienteView.cliente.ativo}" class="inputSelectOnMenu">
                                            <f:selectItem itemLabel="Ativo" itemValue="true"/>
                                            <f:selectItem itemLabel="Inativo" itemValue="false"/>
                                        </h:selectOneMenu>
                                        <h:panelGroup>
                                            <h:outputText value="Nome:"/>                        
                                            <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                        </h:panelGroup>
                                        <h:inputText value="#{clienteView.cliente.nmCliente}" id="nmCliente" class="inputSettingName"/>
                                        <h:panelGroup>
                                            <h:outputText value="CPF/CNPJ:"/>
                                            <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                        </h:panelGroup>
                                        <h:inputText value="#{clienteView.cliente.pessoa.cpfCnpj}" onkeypress="mascara(this, soNumeros)" class="inputSettingCenter"/>
                                        <h:outputText value="RG:"/>
                                        <h:inputText value="#{clienteView.cliente.pessoa.rg}" onkeypress="mascara(this, soNumeros)" class="inputSettingCenter"/>
                                        <h:outputText value="I.E:"/>
                                        <h:inputText value="#{clienteView.cliente.pessoa.ie}" onkeypress="mascara(this, soNumeros)" class="inputSettingCenter"/>

                                    </h:panelGrid>        
                                </h:panelGroup>

                            </div>
                            <div class="ui-g-12 ui-md-6 ui-lg-6" >
                                <h:panelGroup id="telefoneId">
                                    <h:panelGroup rendered="#{!clienteView.cadasterTelefone}">
                                        <p:dataTable value="#{clienteView.cliente.pessoa.listTelefone}" id="listaTelefone" scrollable="true" 
                                                     var="telefone" rows="5" paginator="true" paginatorPosition="top" >
                                            <f:facet name="header">
                                                <h:outputText value="Telefones(#{clienteView.cliente.pessoa.listTelefone.size()})"/>
                                                <p:commandButton value="Adicionar" id="addTelefoneCliente" icon="iconAdicionar" 
                                                                 action="#{clienteView.cadastrarTelefone()}" title="Adicionar Telefone Cliente"
                                                                 update=":geral:telefoneId" styleClass="buttonSetting" oncomplete="document.getElementById('geral:tipoTelefone').focus()"/>
                                            </f:facet>
                                            <p:column headerText="Ação" style="width: 55px" class="colum-table">
                                                <p:commandButton icon="iconEditar" action="#{clienteView.editarTelefone()}"
                                                                 oncomplete="document.getElementById('geral:tipoTelefone').focus();"
                                                                 style="background:transparent;border: 0 " update=":geral:telefoneId" title="Editar Telefone">
                                                    <f:setPropertyActionListener target="#{clienteView.telefone}" value="#{telefone}"/>
                                                </p:commandButton>
                                                <p:commandButton icon="iconFechar" oncomplete="alertRemover('2')"
                                                                 style="background:transparent;border: 0 "  title="Deletar Telefone">
                                                    <f:setPropertyActionListener target="#{clienteView.telefone}" value="#{telefone}"/>
                                                </p:commandButton>
                                            </p:column>
                                            <p:column headerText="Id" style="width: 55px !important;text-align: center" class="colum-table" >
                                                <h:outputText value="#{telefone.id}"/>
                                            </p:column>
                                            <p:column headerText="Tipo Telefone" style="width: 120px;text-align: center" class="colum-table">
                                                <h:outputText value="#{telefone.tipoTelefoneDesc}"/>
                                            </p:column>
                                            <p:column headerText="Telefone" style="width: 120px;text-align: center" class="colum-table">
                                                <h:outputText value="#{telefone.numero}"/>
                                            </p:column>
                                            <p:column headerText="Operadora" style="width: 120px;text-align: center" class="colum-table">
                                                <h:outputText value="#{telefone.nmOperadoraDesc}"/>
                                            </p:column>

                                        </p:dataTable>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{clienteView.cadasterTelefone}">
                                        <div style="background: #eae5e0;border-radius: 5px">
                                            <h:panelGroup id="cadtel">
                                                <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                                                    <h:panelGroup>
                                                        <h:outputText value="Tipo Telefone:"/>                        
                                                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                    </h:panelGroup>
                                                    <h:selectOneMenu value="#{clienteView.telefone.tipo}" id="tipoTelefone"
                                                                     >
                                                        <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                                        <f:selectItem itemLabel="CELULAR" itemValue="1"/>
                                                        <f:selectItem itemLabel="FIXO" itemValue="2"/>
                                                        <p:ajax event="change"  update="cadtel"/>
                                                    </h:selectOneMenu>
                                                    <h:panelGroup rendered="#{clienteView.telefone.tipo=='1'}">
                                                        <h:outputText value="Operadora:"/>                        
                                                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                    </h:panelGroup>
                                                    <h:selectOneMenu value="#{clienteView.telefone.nmOperadora}" 
                                                                     rendered="#{clienteView.telefone.tipo=='1'}" 
                                                                     >
                                                        <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                                        <f:selectItem itemLabel="OI" itemValue="1"/>
                                                        <f:selectItem itemLabel="TIM" itemValue="2"/>
                                                        <f:selectItem itemLabel="VIVO" itemValue="3"/>
                                                        <f:selectItem itemLabel="CLARO" itemValue="4"/>

                                                    </h:selectOneMenu>
                                                    <h:panelGroup>
                                                        <h:outputText value="Telefone:"/>                        
                                                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <h:inputText value="#{clienteView.telefone.numero}"
                                                                     class="inputSettingCenter"
                                                                     rendered="#{clienteView.telefone.tipo=='1'}"
                                                                     onkeypress="return maskEvent(this, '(##) #####-####', event);" />
                                                        <h:inputText value="#{clienteView.telefone.numero}"
                                                                     class="inputSettingCenter"
                                                                     rendered="#{clienteView.telefone.tipo=='2'}"
                                                                     onkeypress="return maskEvent(this, '(##) ####-####', event);" />
                                                    </h:panelGroup>
                                                </h:panelGrid>
                                                <p:separator/>
                                                <h:panelGroup>
                                                    <h:panelGrid columns="2">
                                                        <p:commandButton value="#{clienteView.editable?'Atualizar':'Incluir'}" action="#{clienteView.incluirTelefone()}"
                                                                         oncomplete="confirmarTelefoneClinenteOnComplete(xhr, status, args)"
                                                                         styleClass="buttonSetting" update="geral:mensagem"  icon="iconOk"/>
                                                        <p:commandButton value="Cancelar" action="#{clienteView.cancelarTelefone()}"
                                                                         oncomplete="document.getElementById('geral:listaTelefone:addTelefoneCliente').focus();"
                                                                         styleClass="buttonSetting" update=":geral:telefoneId"  icon="iconFechar"/>
                                                    </h:panelGrid>
                                                </h:panelGroup>
                                            </h:panelGroup>
                                        </div>
                                    </h:panelGroup>
                                </h:panelGroup>
                            </div>
                        </div>
                        <p:separator/>
                        <div style="float: right" id="divButton">
                            <p:commandButton value="#{clienteView.editable?'Atualizar':'Incluir'}" action="#{clienteView.incluirCliente()}" 
                                             icon="iconOk" oncomplete="incluirClienteOnComplete(xhr,status,args);" 
                                             styleClass="buttonSettingCadaster" update="geral:mensagem"/>
                            <p:commandButton value="Cancelar" action="#{clienteView.cancelarCadastro()}" disabled="#{!clienteView.visible}"
                                             icon="iconFechar" styleClass="buttonSettingCadaster" 
                                             update=":geral:cadCliente" />
                        </div>    
                    </h:panelGroup>
                </h:panelGroup>
            </ui:define>
        </ui:composition>
    </body>
</html>
