<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>
        <style>
            .coluna11{
                width: 200px !important;
            }
            .top-dialog1{
                position: absolute !important;
                top: 50% !important;
                left: 50% !important;
                margin-top: -130px !important;
                margin-left: -200px !important;
                width: 400px !important;
                height: 210px !important;

            }
        </style>
        <p:dialog widgetVar="dialogQuarto" header="Informações do Quarto" dynamic="true" 
                  position="center" styleClass="top-dialog1"
                  resizable="false" closeOnEscape="true" closable="false" >

            <h:panelGroup id="quarto">
                <h:panelGrid columns="2" columnClasses="coluna1 coluna11,coluna2">
                    <h:panelGroup>
                        <h:outputText value="Peso do quarto(KG):"/>                        
                        <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:panelGrid columns="2">
                            <h:inputText styleClass="inputSettingCenter"/>
                            <p:commandButton  icon="iconBalanca" title="Pegar Peso da Balança" style="width: 35px !important;background: transparent;border: 0" />
                        </h:panelGrid>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:outputText value="Quantidade:"/>                        
                        <h:graphicImage value="./Principal/images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <h:inputText styleClass="inputSettingCenter"/>
                </h:panelGrid>
                <p:separator/>
                <h:panelGroup>
                    <h:panelGrid columns="2">
                        <p:commandButton value="Confirmar" icon="iconOk" styleClass="buttonSetting"/>
                        <p:commandButton value="Cancelar" oncomplete="PF('dialogQuarto').hide();setarfoco('geral:lista:addNotas')" icon="iconFechar" styleClass="buttonSetting"/>
                    </h:panelGrid>
                </h:panelGroup>
            </h:panelGroup>     
        </p:dialog>

    </ui:composition>
</html>

