<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>

        <p:remoteCommand name="atualizarDialog" update="entrada"/>
        <p:remoteCommand name="atualizarSaida" update=":geral" oncomplete="setarfoco('geral:lista:addNotas')"/>
        <p:remoteCommand name="carregar" action="#{notaRecepcaoView.carregarTabPro()}" update="entrada,geral:mensagem"/>
        <p:remoteCommand name="cancelarNota" action="#{notaRecepcaoView.cancelarNota()}" update="entrada,:geral,geral:mensagem"/>
        <p:dialog header="Item da Nota de Entrada" widgetVar="dialogEntrada" dynamic="true" onShow="atualizarDialog(),setarfoco('geral:desc')"
                  modal="true" position="top" styleClass="top-dialog" resizable="false" onHide="#{notaRecepcaoView.cancelarNota()}"
                  closeOnEscape="true" closable="true" responsive="true">
            <h:panelGroup id="entrada">
                <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                    <h:panelGroup>
                        <h:outputText value="Produto:"/>                        
                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <p:autoComplete scrollHeight="200" value="#{notaRecepcaoView.tabpro}" 
                                    completeMethod="#{notaRecepcaoView.completeProduto}" id="desc"
                                    var="item" forceSelection="true" 
                                    inputStyleClass="autoCompleteDialog"
                                    itemLabel="#{item.descricaoDesc}" queryDelay="800"
                                    itemValue="#{item}" disabled="#{notaRecepcaoView.editable}" >

                        <p:column headerText="Código">
                            <h:outputText value="#{item.codpro}"/>
                        </p:column>

                        <p:column headerText="Produto">
                            <h:outputText value="#{item.descpro}"/>
                        </p:column>
                        <p:ajax event="itemSelect" listener="#{notaRecepcaoView.carregarTabPro()}" update="entrada" global="false"/>
                    </p:autoComplete>
                    <h:panelGroup>
                        <h:outputText value="Qtd.:"/>                        
                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <h:panelGroup style="position: relative;left: -2px">
                        <h:panelGrid columns="4" rowClasses="coluna1,coluna2">
                            <h:outputText value="Unitária"/>
                            <h:outputText value="Total"/>
                            <h:outputText value="Unidade"/>
                            <h:outputText value="P.Compra"/>
                            <h:inputText value="#{notaRecepcaoView.notaentitens.qtdund}"  class="inputSettingDialog"  converter="decimal"
                                         onkeyup="inputSomentesValoresReal(this)" onblur="inputValorRealOnBlur(this)"/>
                            <h:inputText value="#{notaRecepcaoView.notaentitens.qtdcom}" class="inputSettingDialog" converter="decimal"
                                         onkeyup="inputSomentesValoresReal(this)" onblur="inputValorRealOnBlur(this)"/>
                            <h:inputText value="#{notaRecepcaoView.notaentitens.unidade}" class="inputSettingDialog" />
                            <h:inputText value="#{notaRecepcaoView.notaentitens.vlbascal}" class="inputSettingDialog" converter="decimal"
                                         onkeyup="inputSomentesValoresReal(this)" onblur="inputValorRealOnBlur(this)"/>
                        </h:panelGrid>
                    </h:panelGroup>
                    <h:panelGroup>
                        <h:outputText value="Data:"/>                        
                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <h:panelGroup style="position: relative;left: -2px">
                        <h:panelGrid columns="2" rowClasses="coluna1,coluna2">
                            <h:outputText value="Vencimento" style="text-decoration: underline"/>
                            <h:outputText value="Fabricação" style="text-decoration: underline"/>
                            <p:calendar  value="#{notaRecepcaoView.notaentitens.datavenc}" inputStyleClass="inputSettingCalendarDialog"
                                         pattern="dd/MM/yyyy" mask="true" disabled="#{notaRecepcaoView.editable}"
                                         converter="data"  onblur="validaData(this)" />
                            <p:calendar value="#{notaRecepcaoView.notaentitens.datafabr}" inputStyleClass="inputSettingCalendarDialog"
                                        pattern="dd/MM/yyyy" mask="true" disabled="#{notaRecepcaoView.editable}"
                                        converter="data"  onblur="validaData(this)" />

                        </h:panelGrid>
                    </h:panelGroup>
                </h:panelGrid>
                <p:separator/>
                <h:panelGroup>
                    <h:panelGrid columns="3">
                        <p:commandButton value="Confirmar"  icon="iconOk" styleClass="buttonSetting" oncomplete="confirmarOnComplete(xhr, status, args)"
                                         action="#{notaRecepcaoView.confirmarNotaEntrada()}" update="entrada,geral:mensagem"/>
                        <p:commandButton value="Limpar" action="#{notaRecepcaoView.limparNota()}"
                                         oncomplete="document.getElementById('geral:desc_input').focus(),atualizarDialog()" 
                                         icon="iconLimpar" styleClass="buttonSetting" update="entrada"/>
                        <p:commandButton value="Fechar" id="canc"  oncomplete="cancelarNota(),PF('dialogEntrada').hide(),setarfoco('geral:lista:addNotas')" icon="iconFechar" styleClass="buttonSetting"/>
                    </h:panelGrid>
                </h:panelGroup>     
                <script>
                    /* <![CDATA[ */
                    function confirmarOnComplete(xhr, status, args) {
                        if (args.sucesso) {
                            PF('dialogEntrada').hide();
                            atualizarSaida();

                            for (var i = 1; i < args.quantidade; i++) {
                                PF('dialogQuarto').show();
                            }
                        }

                    }
                    /* ]]> */
                </script>
            </h:panelGroup>

        </p:dialog>

    </ui:composition>
</html>

