<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <ui:composition template="./template.xhtml">
            <ui:param name="view" value="#{fornecedorView}"/>
            <ui:param name="titulo" value="Cadastro de Forncedor"/>
            <ui:param name="value" value="#{!fornecedorView.cadasterFornecedor}"/>
            <ui:define name="content">
                <h:panelGroup id="cadFornecedor">
                    <h:panelGroup rendered="#{!fornecedorView.cadasterFornecedor}">
                        <p:dataTable value="#{fornecedorView.fornecedores}"   id="listaFornecedores" scrollable="true"
                                     var="fornecedor" rows="5" paginator="true" paginatorPosition="top" >
                            <f:facet name="header">
                                <h:outputText value="Registros(#{fornecedorView.fornecedores.size()})"/>
                                <p:commandButton value="Adicionar" id="addFornecedor" icon="iconAdicionar" oncomplete="document.getElementById('geral:nomFor').focus()"
                                                 action="#{fornecedorView.adicionarFornecedore()}" title="Adicionar Fornecedores"
                                                 update=":geral" styleClass="buttonSetting" />
                            </f:facet>
                            <p:column headerText="Ação" style="width: 55px;text-align: center" class="colum-table" >
                                <p:commandButton icon="iconEditar" action="#{fornecedorView.editarFornecedor()}"
                                                 style="background:transparent;border: 0 " update=":geral" title="Editar Cliente">
                                    <f:setPropertyActionListener target="#{fornecedorView.fornecedor}" value="#{fornecedor}"/>
                                </p:commandButton>
                                <p:commandButton icon="iconFechar" oncomplete="alertRemover('3')"
                                                 style="background:transparent;border: 0 " title="Deletar Cliente">
                                    <f:setPropertyActionListener target="#{fornecedorView.fornecedor}" value="#{fornecedor}"/>
                                </p:commandButton>
                            </p:column>
                            <p:column headerText="Id" style="width: 50px;text-align: center" class="colum-table" >
                                <h:outputText value="#{fornecedor.id}"/>
                            </p:column>
                            <p:column headerText="Fornecedor" style="width: 300px;text-align: justify" class="colum-table" >
                                <h:outputText value="#{fornecedor.nmFornecedor}"/>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{fornecedorView.cadasterFornecedor}">
                        <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                            <h:panelGroup>
                                <h:outputText value="Nome:"/>
                                <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                            </h:panelGroup>
                            <h:inputText value="#{fornecedorView.fornecedor.nmFornecedor}" id="nomFor" class="inputSettingName"/>
                        </h:panelGrid>
                        <p:separator/>
                        <h:panelGroup style="float: right">
                            <h:panelGrid columns="2">
                                <p:commandButton value="#{fornecedorView.editable?'Atualizar':'Incluir'}"
                                                 action="#{fornecedorView.incluirFornecedor()}" 
                                                 icon="iconOk" styleClass="buttonSettingCadaster" 
                                                 oncomplete="incluirForcedorOnComplete(xhr, status, args);"/>
                                <p:commandButton value="Cancelar" action="#{fornecedorView.cancelarFornecedor()}"
                                                 icon="iconFechar" styleClass="buttonSettingCadaster"  
                                                 update=":geral" disabled="#{fornecedorView.editable}"/>
                            </h:panelGrid>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </ui:define>

        </ui:composition>

    </body>
</html>
