<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="./template.xhtml">
        <ui:param name="view" value="#{interView}"/>
        <ui:param name="titulo" value="Menu Principal"/>
        <ui:param name="value" value="false"/>

        <ui:define name="content">
            <div class="ui-g-12 divMenuContent">
                <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                    <div style="width: 105px;height: 118px;cursor: pointer" onclick="document.getElementById('geral:recep1').click()" id="recep" >
                        <h:panelGroup style="position: relative;top: 4px">
                            <center>
                                <img src="../images/cadastro.png" height="90px" onclick="document.getElementById('geral:recep1').click()"/>
                                <p:commandLink value="Cadastros" onclick="menuCadastro()"  id="recep1" title="Módulo de Cadastros" 
                                               style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                            </center>
                        </h:panelGroup>
                    </div>
                </div>
                <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                    <div style="width: 105px;height: 118px;cursor: pointer" onclick="document.getElementById('geral:recep2').click()" id="recep" >
                        <h:panelGroup style="position: relative;top: 4px">
                            <center>
                                <img src="../images/estoque.png" height="90px" onclick="document.getElementById('geral:recep2').click()"/>
                                <p:commandLink value="Estoque" onclick="menuRecepcao()"  id="recep2" title="Módulo de Controle de Estoque" 
                                               style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                            </center>
                        </h:panelGroup>
                    </div>
                </div>
                <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                    <div style="width: 105px;height: 118px;cursor: pointer" onclick="document.getElementById('geral:recep3').click()" id="recep" >
                        <h:panelGroup style="position: relative;top: 4px">
                            <center>
                                <img src="../images/financeiro.png" height="90px" onclick="document.getElementById('geral:recep3').click()"/>
                                <p:commandLink value="Financeiro" onclick="menuConfiguracao()"  id="recep3" title="Módulo Financeiro" 
                                               style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                            </center>
                        </h:panelGroup>
                    </div>
                </div>
                <div id="recep" class="ui-g-6 ui-md-4 ui-lg-2">
                    <div style="width: 105px;height: 118px;cursor: pointer" onclick="document.getElementById('geral:recep4').click()" id="recep" >
                        <h:panelGroup style="position: relative;top: 4px">
                            <center>
                                <img src="../images/vendas.png" height="90px" onclick="document.getElementById('geral:recep4').click()"/>
                                <p:commandLink value="Restaurante" onclick="menuVendas()"  id="recep4" title="Módulo de Restaurante" 
                                               style="color: #13458e;font-size: 12px;position: relative;top: 5px;font-weight: bold;cursor: pointer"/>
                            </center>
                        </h:panelGroup>
                    </div>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
