<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>

        <ui:composition template="./template.xhtml">
            <ui:param name="view" value="#{mesasView}"/>
            <ui:param name="titulo" value="Cadastro de Mesas"/>
            <ui:param name="value" value="true"/>
            <ui:define name="content">
                <div class="ui-g-12">
                    <h:panelGroup rendered="#{!mesasView.cadaster}">
                    content 
                    </h:panelGroup>
                    <h:panelGroup rendered="#{mesasView.cadaster}">

                    </h:panelGroup>
                </div>
            </ui:define>

        </ui:composition>

    </body>
</html>
