<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="./template.xhtml">
        <ui:param name="view" value="#{notaRecepcaoView}"/>
        <ui:param name="value" value="true"/>
        <ui:param name="titulo" value="Recepção Nota de Entrada"/>
        
        <ui:define name="content">
            <h:panelGroup id="conteudo">
                <p:remoteCommand name="editarAction" action="#{notaRecepcaoView.editarNota()}" oncomplete="editarOnComplete(xhr, status, args)" />
                <h:panelGrid columns="2" columnClasses="coluna1,coluna2" id="grid">
                    <h:panelGroup>
                        <h:outputText value="Filial:"/>                        
                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <p:autoComplete value="#{notaRecepcaoView.tabfil}"
                                    scrollHeight="200"  id="filial"
                                    completeMethod="#{notaRecepcaoView.completeFilial}"
                                    var="item" forceSelection="true" queryDelay="800"
                                    itemLabel="#{item.nomfil}" inputStyleClass="autoComplete"
                                    itemValue="#{item}">

                        <p:column headerText="Id">
                            <h:outputText value="#{item.codfil}"/>
                        </p:column>

                        <p:column headerText="Filial">
                            <h:outputText value="#{item.nomfil}"/>
                        </p:column>
                    </p:autoComplete>
                    <h:panelGroup>
                        <h:outputText value="Forncedor:"/>                        
                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <p:autoComplete value="#{notaRecepcaoView.tabfor}"
                                    scrollHeight="200" 
                                    completeMethod="#{notaRecepcaoView.completeFonecedor}"
                                    var="item" forceSelection="true" queryDelay="800"
                                    itemLabel="#{item.nomfor}" inputStyleClass="autoComplete"
                                    itemValue="#{item}">

                        <p:column headerText="Id">
                            <h:outputText value="#{item.codfor}"/>
                        </p:column>

                        <p:column headerText="Filial">
                            <h:outputText value="#{item.nomfor}"/>
                        </p:column>
                    </p:autoComplete>
                    <h:panelGroup>
                        <h:outputText value="Nº Nota:"/>                        
                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                    </h:panelGroup>
                    <h:inputText value="#{notaRecepcaoView.numnota}"  styleClass="inputSettingCenter" onchange="document.getElementById('geral:search').focus()" />

                    <h:outputText value="Data:"/>
                    <h:panelGroup style="position: relative;left: -2px">
                        <h:panelGrid columns="2" rowClasses="coluna1,coluna2">
                            <h:outputText value="Emissão" style="text-decoration: underline"/>
                            <h:outputText value="Entrada" style="text-decoration: underline"/>
                            <p:calendar id="button" value="#{notaRecepcaoView.dataEmissao}" inputStyleClass="inputSettingCalendar"
                                        pattern="dd/MM/yyyy" mask="true"
                                        converter="data"  onblur="validaData(this)" />
                            <p:calendar id="button2" value="#{notaRecepcaoView.dataEntrada}" inputStyleClass="inputSettingCalendar"
                                        pattern="dd/MM/yyyy" mask="true"
                                        converter="data"  onblur="validaData(this)" />
                        </h:panelGrid>
                    </h:panelGroup>
                </h:panelGrid>
                <p:separator/>
                <h:panelGrid columns="5">
                    <p:commandButton value="Pesquisar" action="#{notaRecepcaoView.buscarListagemNota()}" id="search"
                                     styleClass="buttonSetting" icon="iconBuscar" update=":geral,geral:mensagem"/>
                    <p:commandButton value="Limpar" styleClass="buttonSetting" icon="iconLimpar"/>
                    <p:commandButton value="Finalizar" 
                                     update=":geral"  styleClass="buttonSetting" icon="iconOk"/>

                </h:panelGrid>
                <div class="ui-g-12">
                    <div class="ui-g-12 ui-md-6 ui-lg-6">
                        <p:dataTable value="#{notaRecepcaoView.notaent.notaentitensList}" var="item"          
                                     id="lista" scrollable="true" scrollHeight="#{notaRecepcaoView.notaent.notaentitensList.size()>0?'225':'35'}" >
                            <f:facet name="header">
                                <h:outputText value="Nota de Entrada" />
                                <p:spacer width="1%"/>
                                <p:commandButton value="Adicionar" icon="iconAdicionar"  title="Adicionar Notas"
                                                 action="#{notaRecepcaoView.adicionarNotaEntrada()}" 
                                                 oncomplete="adicionarNotasEntItensOnComplete(xhr,status,args)" update=":geral:entrada,geral:mensagem" 
                                                 id="addNotas" styleClass="buttonSetting"/>

                            </f:facet>

                            <p:column headerText="Ação" style="width: 70px" styleClass="colum-table">
                                <p:commandButton icon="iconEditar" oncomplete="editarAction()"
                                                 style="background:transparent;border: 0 "  title="Editar">
                                    <f:setPropertyActionListener target="#{notaRecepcaoView.notaentitensSelecionado}" value="#{item}"/>
                                </p:commandButton>
                                <p:commandButton icon="iconFechar" action="#{notaRecepcaoView.removerNota()}" update=":geral"
                                                 style="background:transparent;border: 0 " oncomplete="setarfoco('geral:lista:addNotas')"  title="Deletar">
                                    <f:setPropertyActionListener target="#{notaRecepcaoView.notaentitensSelecionado}" value="#{item}"/>
                                </p:commandButton>
                            </p:column>
                            <p:column headerText="Código" style="width: 50px" styleClass="colum-table" >
                                <h:outputText value="#{item.codpro}" />
                            </p:column>
                            <p:column headerText="Produto" style="width:250px;;max-width: 100%;text-align: justify" styleClass="colum-table" >
                                <h:outputText value="#{item.descpro}" />
                            </p:column>
                            <p:column headerText="Qtd" style="width: 50px;text-align: right" styleClass="colum-table">
                                <h:outputText value="#{item.qtdcom}" converter="decimal"/>
                            </p:column>
                            <p:column headerText="UN" style="width: 40px;text-align: center" styleClass="colum-table">
                                <h:outputText value="#{item.ununit}" />
                            </p:column>
                            <p:column headerText="P.Compra" style="width: 70px;text-align: right" styleClass="colum-table">
                                <h:outputText value="#{item.vlund}" converter="decimal"/>
                            </p:column>
                            <p:column headerText="Vl.Prod" style="width: 70px;text-align: right" styleClass="colum-table">
                                <h:outputText value="#{item.vlbascal}" converter="decimal" />
                            </p:column>
                            <p:column headerText="Total" style="width: 70px;text-align: right" styleClass="colum-table">
                                <h:outputText value="#{item.vltotal}" converter="decimal"/>
                            </p:column>

                        </p:dataTable>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6"  id="sub">
                        <p:dataTable value="#{notaRecepcaoView.listaNotaItenssub}" var="sub"        
                                     rows="5" scrollable="true" scrollHeight="#{notaRecepcaoView.listaNotaItenssub.size()>0?'225':'35'}" >
                            <f:facet name="header">
                                <h:outputText value="Registros(#{notaRecepcaoView.listaNotaItenssub.size()})" />

                            </f:facet>
                            <p:column headerText="Ação" style="width: 70px" styleClass="colum-table">

                            </p:column>
                            <p:column headerText="Referência" style="width: 150px" styleClass="colum-table">
                                <h:outputText value="#{sub.notaitenssubPK.referencia}" />
                            </p:column>
                            <p:column headerText="Qtd Prod" style="width:80px" styleClass="colum-table">
                                <h:outputText value="#{sub.qtdpro}" />
                            </p:column>
                            <p:column headerText="Qtd Prod" style="width:80px" styleClass="colum-table">
                                <h:outputText value="#{sub.qtdpro}" />
                            </p:column>
                        </p:dataTable>
                    </div>
                </div>
            </h:panelGroup>
        </ui:define>

    </ui:composition>

</html>
