<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:composition>
        <div class="ui-g">
            <div class="ui-g-12" style="height: 25px;background:  rgba(0, 0, 0, 0.7)">
                <h:outputText style="color: white;font-size: 12px !important" value="#{interView.saudacao}"/>
            </div>                    
            <div class="ui-g-12 menuBar">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <img src="../images/logo.png" class="imgLogoIniciar" />
                </div>
                <h:panelGroup class="divPanelMenu" rendered="#{interView.index==1}">
                    <div class="ui-g-12 ui-md-6 ui-lg-6" style="width: 100%" >
                        <div class="ui-g-12" >
                            <div class="ui-g-6" >
                                <div id="menu" class="divMenu" onclick="document.getElementById('geral:menu').click()">
                                    <p:commandLink value="Menu Principal" onclick="principal()" id="menu" title="Menu Principal" 
                                                   class="linkMenu"/>
                                </div>
                            </div>

                            <div class="ui-g-6">
                                <div id="sair" class="divMenu" onclick="document.getElementById('geral:sair').click()">
                                    <p:commandLink value="Sair" onclick="logout()" id="sair" title="Sair" 
                                                   class="linkMenu"/>
                                </div>
                            </div>
                        </div>
                    </div>    
                </h:panelGroup>
            </div>

            <div class="ui-g-12 divContent" >
                <h:panelGroup rendered="#{interView.index==1}">
                    <ui:include src="menu.xhtml"/>
                </h:panelGroup>

                <h:panelGroup rendered="#{interView.index==2}">
                    <ui:include src="cadastro.xhtml" />
                </h:panelGroup>
                <h:panelGroup rendered="#{interView.index==3}" id="cliente">
                    <ui:include src="cliente.xhtml" />
                </h:panelGroup>
                <h:panelGroup rendered="#{interView.index==4}">
                    <ui:include src="fornecedor.xhtml" />
                </h:panelGroup>
                <h:panelGroup rendered="#{interView.index==5}">
                    <ui:include src="produto.xhtml"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{interView.index==6}">
                    <ui:include src="departamento.xhtml"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{interView.index==7}">
                    <ui:include src="secao.xhtml"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{interView.index==8}">
                    <ui:include src="vendas.xhtml"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{interView.index==9}">
                    <ui:include src="usuario.xhtml"/>
                </h:panelGroup>
                <h:panelGroup rendered="#{interView.index==10}">
                    <ui:include src="Mesas.xhtml"/>
                </h:panelGroup>
            </div>
        </div>
    </ui:composition>
</html>

