<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template.xhtml">
            <ui:param name="view" value="#{produtoView}"/>
            <ui:param name="titulo" value="Cadastro de Produto"/>
            <ui:param name="value" value="#{!produtoView.cadasterProduto}"/>
            <ui:define name="content">
                <h:panelGroup id="cadProduto">
                    <h:panelGroup rendered="#{!produtoView.cadasterProduto}">
                        <p:dataTable value="#{produtoView.produtos}"   id="listaProdutos" scrollable="true"
                                     var="produto" rows="5" paginator="true" paginatorPosition="top" >
                            <f:facet name="header">
                                <h:outputText value="Registros(#{produtoView.produtos.size()})"/>
                                <p:commandButton value="Adicionar" id="addProduto" icon="iconAdicionar" 
                                                 title="Adicionar Produto" action="#{produtoView.adicionarProduto()}"
                                                 update=":geral:cadProduto" styleClass="buttonSetting" />
                            </f:facet>
                            <p:column headerText="Ação" style="width: 55px;text-align: center" class="colum-table" >
                                <p:commandButton icon="iconEditar" 
                                                 style="background:transparent;border: 0 " update=":geral" title="Editar Produto">
                                    <f:setPropertyActionListener target="#{produtoView.produto}" value="#{produto}"/>
                                </p:commandButton>
                                <p:commandButton icon="iconFechar" oncomplete="alertRemover('3')"
                                                 style="background:transparent;border: 0 " title="Deletar Produto">
                                    <f:setPropertyActionListener target="#{produtoView.produto}" value="#{produto}"/>
                                </p:commandButton>
                            </p:column>
                            <p:column headerText="Id" style="width: 50px;text-align: center" class="colum-table" >
                                <h:outputText value="#{produto.id}"/>
                            </p:column>
                            <p:column headerText="Produto" style="width: 300px;text-align: justify" class="colum-table" >
                                <h:outputText value="#{produto.nmProduto}"/>
                            </p:column>
                            <p:column headerText="Cod Barra" style="width: 120px;text-align: center" class="colum-table">
                                <h:outputText value="#{produto.codBarras}"/>
                            </p:column>
                            <p:column headerText="Tipo" style="width: 120px;text-align: center" class="colum-table">
                                <h:outputText value="#{produto.tipoProdutoDesc}"/>
                            </p:column>
                            <p:column headerText="Departamento" style="width: 120px;text-align: center" class="colum-table">
                                <h:outputText value="#{produto.departamento.nmDepartamento}"/>
                            </p:column>
                            <p:column headerText="Seção" style="width: 120px;text-align: center" class="colum-table">
                                <h:outputText value="#{produto.secao.nmSecao}"/>
                            </p:column>
                            <p:column headerText="Unidade" style="width: 120px;text-align: center" class="colum-table">
                                <h:outputText value="#{produto.unidade.sigla}"/>
                            </p:column>
                            <p:column headerText="Preço varejo" style="width: 120px;text-align: right" class="colum-table">
                                <h:outputText value="#{produto.precoVarejo}" converter="decimal"/>
                            </p:column>
                            <p:column headerText="Preço Atacado" style="width: 120px;text-align: right" class="colum-table">
                                <h:outputText value="#{produto.precoAtacado}" converter="decimal"/>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                    <h:panelGroup rendered="#{produtoView.cadasterProduto}">
                        <h:panelGroup id="produto">
                            <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                                <h:panelGroup>
                                    <h:outputText value="Nome:"/>                        
                                    <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                </h:panelGroup>
                                <h:inputText value="#{produtoView.produto.nmProduto}" id="nmProduto" class="inputSettingName"/>
                                <h:panelGroup>
                                    <h:outputText value="Tipo:"/>                        
                                    <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                </h:panelGroup>
                                <h:selectOneMenu  value="#{produtoView.produto.tipoProduto}" class="inputSelectOnMenu">
                                    <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                    <f:selectItem itemLabel="Simples" itemValue="1"/>
                                    <f:selectItem itemLabel="Composto" itemValue="2"/>
                                </h:selectOneMenu>
                                <h:panelGroup>
                                    <h:outputText value="Cod. Barras"/>                        
                                    <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                </h:panelGroup>
                                <h:inputText value="#{produtoView.produto.codBarras}" class="inputSettingCenter"/>
                                <h:panelGroup>
                                    <h:outputText value="Fornecedor:"/>                        
                                    <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                </h:panelGroup>
                                <h:selectOneMenu value="#{produtoView.produto.fornecedor}" class="inputSelectOnMenu"> 
                                    <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                    <f:selectItems value="#{produtoView.fornecedores}"/>
                                </h:selectOneMenu>
                                <h:panelGroup>
                                    <h:outputText value="Unidade:"/>                        
                                    <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                </h:panelGroup>
                                <h:selectOneMenu value="#{produtoView.produto.unidade}" class="inputSelectOnMenu">
                                    <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                    <f:selectItems value="#{produtoView.unidades}"/>
                                </h:selectOneMenu>
                                <h:panelGroup>
                                    <h:outputText value="Departamento:"/>                        
                                    <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                </h:panelGroup>
                                <h:selectOneMenu value="#{produtoView.produto.departamento}" class="inputSelectOnMenu">
                                    <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                    <f:selectItems value="#{produtoView.departamentos}"/>
                                    <p:ajax event="change" update="produto"/>
                                </h:selectOneMenu>
                                <h:panelGroup>
                                    <h:outputText value="Seção:"/>                        
                                    <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                </h:panelGroup>
                                <h:selectOneMenu value="#{produtoView.produto.secao}" class="inputSelectOnMenu" 
                                                 disabled="#{produtoView.produto.departamento!=null}">
                                    <f:selectItem itemLabel="Selecione" itemValue=""/>
                                    <f:selectItems itemValue="#{produtoView.secoes}"/>
                                </h:selectOneMenu>
                                <h:outputText value="Preço:"/>
                                <h:panelGroup>
                                    <h:panelGrid columns="2" rowClasses="coluna1,coluna2">
                                        <h:outputText value="Atacado"/>
                                        <h:outputText value="Varejo"/>
                                        <h:inputText value="#{produtoView.produto.precoAtacado}" class="inputSettingRight" readonly="true" converter="decimal"/>
                                        <h:inputText value="#{produtoView.produto.precoVarejo}" class="inputSettingRight" readonly="true" converter="decimal"/>
                                    </h:panelGrid>
                                </h:panelGroup>
                            </h:panelGrid>
                            <h:panelGroup>
                                <div class="ui-g-12">
                                    <div class="ui-g-12 ui-md-6 ui-lg-6" >
                                        <h:panelGroup id="cadComposicao">
                                            <h:panelGroup rendered="#{!produtoView.cadasterComposicao}">
                                                <p:dataTable value="#{produtoView.produto.listComposicaoProduto}"   id="listaComposicao" scrollable="true"
                                                             var="composicao" rows="5" paginator="true" paginatorPosition="top" >
                                                    <f:facet name="header">
                                                        <h:outputText value="Composição(#{produtoView.produto.listComposicaoProduto.size()})"/>
                                                        <p:commandButton value="Adicionar" id="addComposicao" icon="iconAdicionar" 
                                                                         action="#{produtoView.adicionarComposicao()}"
                                                                         title="Adicionar Composicao Produto" update=":geral:cadComposicao"
                                                                         class="buttonSetting" />
                                                    </f:facet>
                                                    <p:column headerText="Ação" style="width: 55px;text-align: center" class="colum-table" >
                                                        <p:commandButton icon="iconEditar" 
                                                                         style="background:transparent;border: 0 " update=":geral" title="Editar Produto">
                                                            <f:setPropertyActionListener target="#{produtoView.composicaoProduto}" value="#{composicao}"/>
                                                        </p:commandButton>
                                                        <p:commandButton icon="iconFechar" oncomplete="alertRemover('3')"
                                                                         style="background:transparent;border: 0 " title="Deletar Produto">
                                                            <f:setPropertyActionListener target="#{produtoView.composicaoProduto}" value="#{composicao}"/>
                                                        </p:commandButton>
                                                    </p:column>
                                                    <p:column headerText="Id" style="width: 50px;text-align: center" class="colum-table" >
                                                        <h:outputText value="#{composicao.id}"/>
                                                    </p:column>
                                                    <p:column headerText="Composição" style="width: 300px;text-align: justify" class="colum-table" >
                                                        <h:outputText value="#{composicao.produto.nmProduto}"/>
                                                    </p:column>
                                                    <p:column headerText="Und" style="width: 100px;text-align: center" class="colum-table">
                                                        <h:outputText value="#{composicao.unidade.sigla}"/>
                                                    </p:column>
                                                    <p:column headerText="Qtd" style="width: 100px;text-align: center" class="colum-table">
                                                        <h:outputText value="#{composicao.quantidade}" converter="decimal"/>
                                                    </p:column>
                                                </p:dataTable>

                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{produtoView.cadasterComposicao}">

                                                <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                                                    <h:panelGroup>
                                                        <h:outputText value="Produto:"/>                        
                                                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                    </h:panelGroup>
                                                    <h:inputText class="inputSettingName"/>
                                                    <h:panelGroup>
                                                        <h:outputText value="Unidade:"/>                        
                                                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                    </h:panelGroup>
                                                    <h:selectOneMenu value="#{produtoView.composicaoProduto.unidade}" class="inputSelectOnMenu">
                                                        <f:selectItem itemLabel="Selecione..." itemValue=""/>
                                                        <f:selectItems value="#{produtoView.unidades}"/>
                                                    </h:selectOneMenu>
                                                    <h:panelGroup>
                                                        <h:outputText value="Quantidade:"/>                        
                                                        <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                    </h:panelGroup>
                                                    <h:inputText value="#{produtoView.composicaoProduto.quantidade}" class="inputSettingRight"/>
                                                </h:panelGrid>
                                                <p:separator/>
                                                <h:panelGroup>
                                                    <h:panelGrid columns="2">
                                                        <p:commandButton value="#{produtoView.editable?'Atualizar':'Incluir'}" title="adicionar composicao" 
                                                                         action="#{produtoView.incluirComposicao()}"
                                                                         oncomplete="incluirComposicaoOnComplete(xhr, status, args)"
                                                                         styleClass="buttonSetting" update="geral:mensagem"  icon="iconOk"/>
                                                        <p:commandButton value="Cancelar"  title="cancelar composicao"
                                                                         action="#{produtoView.cancelarComposicao()}" disabled="#{produtoView.editable}"
                                                                         styleClass="buttonSetting" update=":geral:cadComposicao"  icon="iconFechar"/>
                                                    </h:panelGrid>
                                                </h:panelGroup>


                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </div>   
                                    <div class="ui-g-12 ui-md-6 ui-lg-6" >
                                        <h:panelGroup id="cadHistorico">
                                            <h:panelGroup rendered="#{!produtoView.cadasterHistorico}">
                                                <p:dataTable value="#{produtoView.produto.listHistoricoPrecoProduto}"   id="listaHistorico" scrollable="true"
                                                             var="historico" rows="5" paginator="true" paginatorPosition="top" >
                                                    <f:facet name="header">
                                                        <h:outputText value="Histórico(#{produtoView.produto.listHistoricoPrecoProduto.size()})"/>
                                                        <p:commandButton value="Adicionar" id="addHistorico" icon="iconAdicionar" 
                                                                         action="#{produtoView.adicionarHistorico()}"
                                                                         title="Adicionar Histórico Produto" update=":geral:cadHistorico"
                                                                         class="buttonSetting" />
                                                    </f:facet>
                                                    <p:column headerText="Ação" style="width: 55px;text-align: center" class="colum-table" >
                                                        <p:commandButton icon="iconEditar" 
                                                                         style="background:transparent;border: 0 " update=":geral" title="Editar Produto">
                                                            <f:setPropertyActionListener target="#{produtoView.historicoProduto}" value="#{historico}"/>
                                                        </p:commandButton>
                                                        <p:commandButton icon="iconFechar" oncomplete="alertRemover('3')"
                                                                         style="background:transparent;border: 0 " title="Deletar Produto">
                                                            <f:setPropertyActionListener target="#{produtoView.historicoProduto}" value="#{historico}"/>
                                                        </p:commandButton>
                                                    </p:column>
                                                    <p:column headerText="Id" style="width: 50px;text-align: center" class="colum-table" >
                                                        <h:outputText value="#{historico.id}"/>
                                                    </p:column>
                                                    <p:column headerText="Data Regstro" style="width:120px;text-align: center" class="colum-table" >
                                                        <h:outputText value="#{historico.dataRegistro}" converter="data"/>
                                                    </p:column>
                                                    <p:column headerText="Preço Atacado" style="width: 120px;text-align: right" class="colum-table">
                                                        <h:outputText value="#{historico.precoVendaAtacado}" converter="decimal"/>
                                                    </p:column>
                                                    <p:column headerText="Preço varejo" style="width: 120px;text-align: right" class="colum-table">
                                                        <h:outputText value="#{historico.precoVendaVarejo}" converter="decimal"/>
                                                    </p:column>
                                                </p:dataTable>
                                            </h:panelGroup>
                                            <h:panelGroup rendered="#{produtoView.cadasterHistorico}">
                                                <h:panelGroup id="hist">
                                                    <h:panelGrid columns="2" columnClasses="coluna1,coluna2">
                                                        <h:panelGroup>
                                                            <h:outputText value="Data Registro:"/>                        
                                                            <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                        </h:panelGroup>

                                                        <p:calendar value="#{produtoView.historicoProduto.dataRegistro}" 
                                                                    pattern="dd/MM/yyyy" mask="true"
                                                                    converter="data"  onblur="validaData(this)" />
                                                        <h:panelGroup>
                                                            <h:outputText value="Preço compra:"/>                        
                                                            <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                        </h:panelGroup>
                                                        <h:inputText value="#{produtoView.historicoProduto.precoCompra}"/>
                                                        <h:panelGroup>
                                                            <h:outputText value="Preço Atacado:"/>                        
                                                            <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                        </h:panelGroup>
                                                        <h:panelGroup>
                                                            <h:panelGrid columns="2" rowClasses="coluna1,coluna2">
                                                                <h:outputText value="Percentual"/>
                                                                <h:outputText value="Valor"/>
                                                                <h:inputText value="#{produtoView.historicoProduto.percentualVendaAtacado}"
                                                                             converter="decimal"
                                                                             onkeyup="inputSomentesValoresReal(this)" onblur="inputValorRealOnBlur(this)"
                                                                             class="inputSettingRight">
                                                                    <p:ajax event="change" listener="#{produtoView.percentualAtacadoOnChange()}" update="valorAtacado"
                                                                            process="@all"/>
                                                                </h:inputText>
                                                                <h:inputText value="#{produtoView.historicoProduto.precoVendaAtacado}" 
                                                                             converter="decimal" id="valorAtacado"
                                                                             onkeyup="inputSomentesValoresReal(this)" onblur="inputValorRealOnBlur(this)"
                                                                             class="inputSettingRight"/>
                                                            </h:panelGrid>
                                                        </h:panelGroup>
                                                        <h:panelGroup>
                                                            <h:outputText value="Preço Varejo:"/>                        
                                                            <h:graphicImage value="../images/obrigatorio.png"  styleClass="obrigatorio"/>
                                                        </h:panelGroup>
                                                        <h:panelGroup>
                                                            <h:panelGrid columns="2" rowClasses="coluna1,coluna2">
                                                                <h:outputText value="Percentual"/>
                                                                <h:outputText value="Valor"/>
                                                                <h:inputText value="#{produtoView.historicoProduto.percentualVendaVarejo}" converter="decimal"
                                                                             onkeyup="inputSomentesValoresReal(this)" onblur="inputValorRealOnBlur(this)"
                                                                             class="inputSettingRight"/>
                                                                <h:inputText value="#{produtoView.historicoProduto.precoVendaVarejo}"
                                                                             converter="decimal"
                                                                             onkeyup="inputSomentesValoresReal(this)" onblur="inputValorRealOnBlur(this)"
                                                                             class="inputSettingRight"/>
                                                            </h:panelGrid>
                                                        </h:panelGroup>
                                                    </h:panelGrid>
                                                    <p:separator/>
                                                    <h:panelGroup>
                                                        <h:panelGrid columns="2">
                                                            <p:commandButton value="#{produtoView.editable?'Atualizar':'Incluir'}" title="adicionar histórico" 
                                                                             action="#{produtoView.incluirHistorico()}"
                                                                             oncomplete="incluirHistoricoOnComplete(xhr, status, args)"
                                                                             styleClass="buttonSetting" update="geral:mensagem"  icon="iconOk"/>
                                                            <p:commandButton value="Cancelar"  title="cancelar histórico"
                                                                             action="#{produtoView.cancelarHistorico()}" disabled="#{produtoView.editable}"
                                                                             styleClass="buttonSetting" update=":geral:cadHistorico"  icon="iconFechar"/>
                                                        </h:panelGrid>
                                                    </h:panelGroup>
                                                </h:panelGroup>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </div>   
                                </div>
                            </h:panelGroup>

                            <p:separator/>
                            <h:panelGroup style="float: right">
                                <h:panelGrid columns="2">
                                    <p:commandButton value="#{produtoView.editable?'Atualizar':'Incluir'}"

                                                     icon="iconOk" styleClass="buttonSettingCadaster" 
                                                     />
                                    <p:commandButton value="Cancelar" action="#{produtoView.cancelarProduto()}"
                                                     icon="iconFechar" styleClass="buttonSettingCadaster"  
                                                     update=":geral" disabled="#{produtoView.editable}"/>
                                </h:panelGrid>
                            </h:panelGroup>
                        </h:panelGroup>
                    </h:panelGroup>
                </h:panelGroup>
            </ui:define>

        </ui:composition>

    </body>
</html>
