<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <ui:composition>


        <h:panelGrid columns="2">
            <img src="../images/seta-azul.png" height="16px "/>
            <h:outputText value="#{titulo}" style="color: #13458e;font-size: 14px;font-weight: 600"/>
        </h:panelGrid>

        <h:panelGroup rendered="#{value}">
            <img src="../images/iconValidacaoFechar.svg" height="30px" onclick="principal()"  title="Fechar Menu"
                 style="float: right;position: relative;top: -25px!important;cursor: pointer !important"/>
        </h:panelGroup>


        <p:separator style="background: #13458e;"/>

        <ui:insert name="content"  >
            <h:panelGroup>
                <p style="background: transparent;color: transparent">#{view}</p>
                <p >#{view.titulo()}</p>
            </h:panelGroup>
        </ui:insert>

    </ui:composition>

</html>
