<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./template.xhtml">
            <ui:param name="view" value="#{usuarioView}"/>
            <ui:param name="titulo" value="Cadastro de Usuário"/>
            <ui:param name="value" value="true"/>
            <ui:define name="content">
                <h:panelGroup id="cadUsuario">
                    <h:panelGroup rendered="#{!usuarioView.cadastroUsuario}">
                        <p:dataTable value="#{usuarioView.listUsuario}"   id="listaUsuario" scrollable="true"
                                     var="user" rows="5" paginator="true" paginatorPosition="top" >
                            <f:facet name="header">
                                <h:outputText value="Registros(#{usuarioView.listUsuario.size()})"/>
                                <p:commandButton value="Adicionar" id="addUser" icon="fa fa-plus-circle"
                                                 title="Adicionar Usuario"
                                                 update=":geral:cadUsuario" styleClass="buttonSetting" />
                            </f:facet>
                            <!--                            <p:column headerText="Ação" style="width: 55px;text-align: center" class="colum-table" >
                                                            <p:commandButton icon="iconEditar" 
                                                                             style="background:transparent;border: 0 " update=":geral" title="Editar Produto">
                                                                <f:setPropertyActionListener target="# {produtoView.produto}" value="# {produto}"/>
                                                            </p:commandButton>
                                                            <p:commandButton icon="iconFechar" oncomplete="alertRemover('3')"
                                                                             style="background:transparent;border: 0 " title="Deletar Produto">
                                                                <f:setPropertyActionListener target="# {produtoView.produto}" value="# {produto}"/>
                                                            </p:commandButton>
                                                        </p:column>-->
                            <p:column headerText="Id" style="width: 50px;text-align: center" class="colum-table" >
                                <h:outputText value="#{user.id}"/>
                            </p:column>
                            <p:column headerText="Produto" style="width: 300px;text-align: justify" class="colum-table" >
                                <h:outputText value="#{user.nome}"/>
                            </p:column>
                        </p:dataTable>
                    </h:panelGroup>
                </h:panelGroup>
            </ui:define>

        </ui:composition>

    </body>
</html>
