<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:b="http://bootsfaces.net/ui">

    <body>

        <ui:composition template="./template.xhtml">
            <ui:param name="view" value="#{vendasView}"/>
            <ui:param name="titulo" value="Restaurante"/>
            <ui:param name="value" value="true"/>
            <ui:define name="content" >
                <style>

                    .divContent{
                        background: #ECF0F5 !important;
                    }
                    @media all and (max-width:1080px){
                        .menuBar{
                            background:  #5A9FED;
                            height: 60px;
                        }
                    }
                    .colum1{
                        width: 180px !important;
                    }
                    .colum2{
                        width: 200px !important;
                    }
                    .columButton{
                        width: 150px !important;
                    }
                    .ui-accordion-header{
                        background: #1C7CD5 !important;
                    }


                </style>
                <h:panelGroup id="idRestaurante" >
                    <div class="ui-g-12" style="position: relative;top: -20px !important">
                        <h:panelGroup rendered="#{!vendasView.tablePedido}">
                            <div class="ui-g-12 ui-md-2 ui-lg-3">
                                <p:panel style="background: white !important;border-radius: 5px !important">
                                    <h:panelGroup>
                                        <h:panelGrid columns="2">
                                            <p:panel style="width: 10px;height: 10px;background:#5CB85C "/>
                                            <h:outputText value="Mesa Livre"/>
                                            <p:panel style="width: 10px;height: 10px;background:#D9534F "/>
                                            <h:outputText value="Mesa Ocupada"/>
                                            <p:panel style="width: 10px;height: 10px;background:#F0AD4E "/>
                                            <h:outputText value="Mesa Reservada"/>
                                            <p:panel style="width: 10px;height: 10px;background:#1C7CD5 "/>
                                            <h:outputText value="Mesa Pedido Aberto"/>
                                        </h:panelGrid>
                                    </h:panelGroup>
                                </p:panel>
                            </div>
                            <div class="ui-g-12 ui-md-10 ui-lg-9">
                                <p:panel style="background: white !important;border-radius: 5px !important">
                                    <center>
                                        <p:dataGrid value="#{vendasView.resultMesas}" 
                                                    var="mesa" layout="grid" columns="6" id="dataGridTable">
                                            <p:column>
                                                <div id="divMesas">
                                                    <div class="ui-md-8"   onclick="document.getElementById('geral:dataGridTable:#{mesa.id-1}:linkTables').click()" 
                                                         style=" background: #5CB85C;text-align: center !important;border: transparent;cursor: pointer;border-radius: 10px !important" >
                                                        <p:graphicImage value="../images/pratoLivre.png" style="height: 60px;cursor: pointer" />
                                                        <p:panel id="divMesas2" style="background: transparent;border: transparent" >

                                                            <p:commandLink value="#{mesa.nmMesa}" action="#{vendasView.carregarMesaSelecionada()}" 
                                                                           style="color: white;font-size: 11.4px;color: white;font-weight: bold;cursor: pointer"
                                                                           update=":geral:idRestaurante" id="linkTables">
                                                                <f:setPropertyActionListener target="#{vendasView.mesaSelecionada}" value="#{mesa}"/>
                                                            </p:commandLink>
                                                        </p:panel>
                                                    </div>
                                                </div>
                                            </p:column>
                                        </p:dataGrid>
                                    </center>
                                </p:panel>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{vendasView.tablePedido}">
                            <div class="ui-g-12">

                                <div class="ui-g-12 ui-md-4 ui-lg-4" >
                                    <div class="ui-g-12" style="height: 30px !important;background: #464849 !important;text-align: center">
                                        <h:outputText value="#{vendasView.mesaSelecionada.nmMesa}" style="color: white !important;font-weight: bold;font-family: Arial;position: relative;top: 3px"/>
                                    </div>
                                    <p:panel style="background: white !important;border-radius: 5px !important">
                                        <br/><br/><br/>

                                        <h:panelGroup>
                                            <div class="ui-inputgroup">
                                                <p:commandButton icon="fa fa-plus-circle"   styleClass="buttonSettingNormal"/>  
                                                <p:inputText styleClass="inputSettingName" placeholder="Adicionar Cliente" style="position: relative;left: -2px !important"/>
                                            </div>
                                        </h:panelGroup>
                                        <br/>
                                        <h:panelGroup>
                                            <div class="ui-inputgroup">
                                                <p:commandButton icon="fa fa-search"   styleClass="buttonSettingNormal"/>  
                                                <p:inputText placeholder="Pesquisar Itens" styleClass="inputSettingName" style="position: relative;left: -2px"/>
                                            </div>
                                        </h:panelGroup>
                                        <br/>
                                        <p:dataTable    id="listaLanches" scrollable="true"
                                                        var="produto" rows="5"  >


                                            <p:column headerText="Produto" style="width: 120px;text-align: justify" class="colum-table" >

                                            </p:column>
                                            <p:column headerText="Preço" style="width: 50px;text-align: center" class="colum-table">

                                            </p:column>
                                            <p:column headerText="Qtd" style="width: 50px;text-align: center" class="colum-table">

                                            </p:column>
                                            <p:column headerText="SubTotal" style="width: 50px;text-align: center" class="colum-table">

                                            </p:column>
                                        </p:dataTable>

                                        <br/>
                                        <br/>
                                        <br/>

                                        <div class="u-g-12" style="background:#D8EDF7 !important;height: 30px !important;">
                                            <div style="position: relative;top: 7px">
                                                <h:panelGrid columns="4" columnClasses="colum1,colum2,colum1,colum2">
                                                    <h:panelGroup>
                                                        <div style="float: right !important">
                                                            <h:outputText value="Total de Itens" style="color: black !important;font-weight: bold"/>
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="float: right !important">
                                                            <h:outputText value="0" style="color: black !important"/>
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="float: right !important">
                                                            <h:outputText value="Total" style="color: black !important;"/>
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="float: right !important">
                                                            <h:outputText value="0,00" style="color: black !important;"/>
                                                        </div>
                                                    </h:panelGroup>
                                                </h:panelGrid>
                                            </div>
                                        </div>
                                        <div class="u-g-12" style="background:white !important;height: 30px !important;">
                                            <div style="position: relative;top: 7px">
                                                <h:panelGrid columns="4" columnClasses="colum1,colum2,colum1,colum2">
                                                    <h:panelGroup>
                                                        <div style="text-align: right">
                                                            <h:outputText value="" style="color: transparent !important;font-weight: bold"/>
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="text-align: right">
                                                            <h:outputText value="" style="color: transparent !important"/>
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="text-align: right">
                                                            <h:outputText value="Descontos" style="color:black  !important"/>
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="text-align: right">
                                                            <h:outputText value="0,00" style="color:black  !important;"/>
                                                        </div>
                                                    </h:panelGroup>
                                                </h:panelGrid>
                                            </div>
                                        </div>
                                        <div class="u-g-12" style="background:#D8EDF7 !important;height: 30px !important;">
                                            <div style="position: relative;top: 7px">
                                                <h:panelGrid columns="4" columnClasses="colum1,colum2,colum1,colum2">
                                                    <h:panelGroup>
                                                        <div style="text-align: right">
                                                            <h:outputText value="" style="color: transparent !important;font-weight: bold"/>
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="text-align: right">
                                                            <h:outputText value="" style="color: transparent !important"/>
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="text-align: right">
                                                            <h:outputText value="Total a Pagar" style="color: black !important;font-weight: bold !important"/>
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="text-align: right">
                                                            <h:outputText value="0,00" style="color: black !important;font-size: 14px"/>
                                                        </div>
                                                    </h:panelGroup>
                                                </h:panelGrid>
                                            </div>
                                        </div>
                                        <br/>

                                        <div>
                                            <h:panelGroup>
                                                <h:panelGrid columns="3" columnClasses="columButton,columButton,columButton">
                                                    <h:panelGroup>
                                                        <div style="text-align: center">
                                                            <p:commandButton action="#{vendasView.cancelarMesa()}" update=":geral:idRestaurante" value="Cancelar" 
                                                                             styleClass="buttonSettingRest1" />     
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="text-align: center">
                                                            <p:commandButton value="Ver Itens"  styleClass="buttonSettingRest2"/>  
                                                        </div>
                                                    </h:panelGroup>
                                                    <h:panelGroup>
                                                        <div style="text-align: center">
                                                            <p:commandButton value="Pagar"  styleClass="buttonSettingRest3"/>
                                                        </div>
                                                    </h:panelGroup>
                                                </h:panelGrid>
                                            </h:panelGroup>
                                        </div>

                                    </p:panel>

                                </div>
                                <div class="ui-g-12 ui-md-8 ui-lg-8 " >
                                    <p:panel style="background: transparent !important;border:transparent !important">

                                        <p:accordionPanel value="#{vendasView.resultGrupo}" 
                                                          var="grupo"   style="margin-top: -10px;" >
                                            <p:tab id="tab" title="#{grupo.nmGrupo}" titleStyle="color:white;font-size:12px !important;font-weight:400 !important;background: #464849 !important;font-family: Arial !important" >
                                                <center>
                                                    <p:dataGrid value="#{grupo.resultLanches}" 
                                                                var="mesa" layout="grid" columns="6" id="dataGridTableCardapio">
                                                        <p:column>
                                                            <div id="divCardapio">
                                                                <div  onclick="document.getElementById('geral:dataGridTableGrupo:dataGridTableCardapio:#{mesa.id-1}:linkTablesCardapio').click()" 
                                                                      style=" background: #ECF0F5 !important;border: transparent;cursor: pointer" >
                                                                    <p:graphicImage value="../images/lanche#{mesa.id}.png" style="height: 70px;cursor: pointer;border-radius: 5px !important" />
                                                                </div>
                                                                <div id="divCardapio2" style="background: #DDDDDD !important;height:30px; border: transparent" >

                                                                    <p:commandLink value="#{mesa.nmLanche}" action="#{vendasView.carregarMesaSelecionada()}"  
                                                                                   style="color: black !important;font-size: 12.4px !important;color: white;cursor: pointer;position: relative;top: 8px;font-weight: 600"
                                                                                   update=":geral:idRestaurante" id="linkTablesCardapio">
                                                                        <f:setPropertyActionListener target="#{vendasView.mesaSelecionada}" value="#{mesa}"/>
                                                                    </p:commandLink>
                                                                </div>
                                                            </div>
                                                        </p:column>
                                                    </p:dataGrid>
                                                </center>
                                            </p:tab>
                                        </p:accordionPanel>

                                    </p:panel>

                                </div>
                            </div>

                        </h:panelGroup>
                    </div>
                </h:panelGroup>
            </ui:define>

        </ui:composition>

    </body>
</html>
