<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      >
    <f:view contentType="text/html" >
        <h:head>
            <f:facet name="first">
                <link type="text/css" rel="stylesheet" href="../css/default.css" />
                <!--<link type="text/css" rel="stylesheet" href="./Principal/css/default-i.css" />-->
                <script src="../css/geral.js" type="text/javascript"></script>
                <script src="../css/novoTab.js" type="text/javascript"></script>
                <script src="../css/shortcut.js" type="text/javascript"></script>
                <script src="../css/mask.js" type="text/javascript"></script>
                <script src="../css/teclasAtalhos.js" type="text/javascript"></script>
                <script src="../css/textArea.js" type="text/javascript"></script> 
                <script src="../css/enter-as-tab.js" type="text/javascript"></script> 
                <link rel="icon" type="image/png" href="../images/favicon.png" />
                <link href="../css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
                <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <title>PDV Restaurante</title>
            </f:facet>
            <style>
                html {
                    position: relative;
                    min-height: 100%;
                }
                body {
                    -webkit-hyphens: auto;
                    -moz-hyphens: auto;
                    -ms-hyphens: auto;
                    hyphens: auto;
                    margin: 0 0 60px; /* altura do seu footer */
                }
                footer {
                    position: absolute; 
                    bottom: 0px; 
                    width: 100%; 
                    height: 25px; 
                    background:rgba(0, 0, 0, 0.5);
                    text-align: right !important;
                }

            </style>
            <script>
                function sairOncomplete() {
                    resp = confirm("Deseja realmente sair do PDV Restaurante?");
                    if (resp) {
                        cancelarSessao();
                        //                        window.location.href = '../../';
                    }
                }
                function incluirClienteOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        atualizar();
                    }
                }
                function incluirForcedorOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        atualizar();
                    }
                }
                function incluirComposicaoOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        atualizarComposicao();
                    }
                }
                function incluirHistoricoOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        atualizarHistorico();
                    }
                }
                function confirmarTelefoneClinenteOnComplete(xhr, status, args) {
                    if (args.sucesso) {
                        atualizarTelefone();

                    }
                }

                function alertRemover(index) {
                    resp = confirm("Deseja realmente remover o Registro ?");
                    if (resp) {
                        //1-cliente;2-Telefone
                        switch (index) {
                            case "1":
                            {
                                removerCliente();
                                break;
                            }
                            case "2":
                            {
                                removerTelefone();
                                break;
                            }
                            case "3":
                            {
                                removerFornecedor();
                                break;
                            }

                            default :
                            {
                                break;
                            }
                        }

                    }
                }
            </script>
        </h:head>
        <body style="background: #ECF0F5" onkeydown="carregaEnterAsTab();">
            <!--https://fontawesome.com/v4.7.0/icons/-->

            <h:form id="geral" >
                <ui:include src="inter/calendar.xhtml"/>
                <p:ajaxStatus onstart="PF('dialogCarregando').show()" oncomplete="PF('dialogCarregando').hide();" />
                <p:dialog modal="true" widgetVar="dialogCarregando"  closable="false" resizable="false" responsive="true"
                          >
                    <center>
                        <h:graphicImage value="../images/carregando2.gif" />
                    </center>
                </p:dialog>
                <p:growl  id="mensagem" life="5000" showDetail="true" showSummary="true" sticky="false"  />
                <!--********************* RemoteCommand *********************-->
                <p:remoteCommand name="logout" oncomplete="sairOncomplete()"/>
                <p:remoteCommand name="cancelarSessao" action="#{interView.exit()}" oncomplete=" window.history.back();"/>
                <p:remoteCommand name="principal" action="#{interView.menu()}" update=":geral"/>

                <p:remoteCommand name="menuCadastro" action="#{interView.cadastro()}"  update=":geral"/>
                <p:remoteCommand name="menuVendas" action="#{interView.vendas()}"  update=":geral"/>
                <p:remoteCommand name="cadCliente" action="#{clienteView.iniciar()}" update=":geral"/>
                <p:remoteCommand name="cadFornecedor"  action="#{fornecedorView.iniciar()}" update=":geral"/>
                <p:remoteCommand name="cadProduto" action="#{produtoView.iniciar()}" update=":geral"/>
                <p:remoteCommand name="cadDepartamento" action="#{departamentoView.iniciar()}" update=":geral"/>
                <p:remoteCommand name="cadSecao" action="#{secaoView.iniciar()}" update=":geral"/>
                <p:remoteCommand name="cadUsuario" action="#{interView.usuario()}" update=":geral"/>
                <p:remoteCommand name="cadMesas" action="#{interView.mesas()}" update=":geral"/>

                <p:remoteCommand name="atualizar" update=":geral,geral:mensagem" />
                <p:remoteCommand name="atualizarTelefone" update=":geral:telefoneId" oncomplete="document.getElementById('geral:listaTelefone:addTelefoneCliente').focus();"/>
                <p:remoteCommand name="atualizarComposicao" update=":geral:cadComposicao"/>
                <p:remoteCommand name="atualizarHistorico" update=":geral:cadHistorico"/>
                <p:remoteCommand name="removerCliente" action="#{clienteView.deletarCliente()}" update=":geral,geral:mensagem"/>
                <p:remoteCommand name="removerTelefone" action="#{clienteView.deletarTelefone()}" update=":geral:telefoneId,geral:mensagem"/>
                <p:remoteCommand name="removerFornecedor" action="#{fornecedorView.deletarFornecedor()}" update=":geral,geral:mensagem"/>
                <!--*********************************************************-->
                <ui:include src="inter/processo.xhtml"/>
            </h:form>
        </body>
        <footer >
            <a href="http://interagese.com.br/"  target="_blank" title="Visite nosso Site" style="font-size: 12px;color: white;position: relative;top: 5px;left: -10px;cursor: pointer"> © 2019 Interage Sistemas - version - 1.00.00 - Copyright</a>
        </footer>
    </f:view>
</html>

