<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html" >
        <h:head>
            <f:facet name="first">


                <link type="text/css" rel="stylesheet" href="./Principal/css/default.css" />
                <!--<link type="text/css" rel="stylesheet" href="./Principal/css/default-i.css" />-->
                <script src="./Principal/css/geral.js" type="text/javascript"></script>
                <script src="./Principal/css/novoTab.js" type="text/javascript"></script>
                <script src="./Principal/css/shortcut.js" type="text/javascript"></script>
                <script src="./Principal/css/mask.js" type="text/javascript"></script>
                <script src="./Principal/css/teclasAtalhos.js" type="text/javascript"></script>
                <link rel="icon" type="image/png" href="./Principal/images/favicon.png" />
                <script src="./Principal/css/textArea.js" type="text/javascript"></script> 
                <script src="./Principal/css/enter-as-tab.js" type="text/javascript"></script> 
                <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <title>PDV Restaurante</title>
            </f:facet>
            <style>
                html {
                    position: relative;
                    min-height: 100%;
                }
                body {
                    -webkit-hyphens: auto;
                    -moz-hyphens: auto;
                    -ms-hyphens: auto;
                    hyphens: auto;
                    margin: 0 0 60px; /* altura do seu footer */
                }
                footer {
                    position: fixed; 
                    bottom: 0px; 
                    width: 100%; 
                    height: 25px; 
                    background:rgba(0, 0, 0, 0.5);
                    text-align: right !important;
                }
                .inputUser{
                    width: 240px !important;
                    height:25px !important;                                               /* O padding influencia no tamanho do componente (é como se fosse 20px + 5px da altura) */
                    background-image:url(./Principal/images/usuario_login.png) !important;
                    background-repeat:no-repeat !important;                     /* Para não repetir o background ao longo de topo o componente */
                    background-position: right !important;
                    background-position-x: 220px !important;
                    background-size: 20px !important;
                    font-size: 15px !important;
                    border-color: #B0B2B4 !important;
                    font-family: arial !important;


                }
                .inputPassword{
                    width: 240px !important;
                    height:25px !important;                                               /* O padding influencia no tamanho do componente (é como se fosse 20px + 5px da altura) */
                    background-image:url(./Principal/images/cadeado_login.png) !important;
                    background-repeat:no-repeat !important;                     /* Para não repetir o background ao longo de topo o componente */
                    background-position: right !important;
                    background-position-x: 220px !important;
                    background-size: 20px !important;
                    font-size: 15px !important;
                    border-color: #B0B2B4;
                    margin-left: -1px !important;
                    font-family: arial !important;

                }
            </style>
            <script>
                function confirmarOncompelte(xhr, status, args) {
                    if (args.sucesso) {
                        window.location.href = "./Principal/app/padrao.xhtml";
                    } else {
                        if (args.usuariologado) {
                            resp = confirm("Usuário encontra-se logado em outra sessão. \n Deseja continuar assim mesmo?");
                            if (resp) {
                                window.location.href = "./Principal/app/padrao.xhtml";
                            }
                        } else {
                            document.getElementById('geral:userId');
                        }
                    }
                }

                function criarOncomplete(xhr, status, args) {
                    if (!args.sucesso) {
                        document.getElementById('geral:userId');
                    }
                }
            </script>
        </h:head>

        <h:body class="imgBackground" onkeydown="carregaEnterAsTab();">
            <p style="color: transparent">#{loginView.iniciar()}</p>

            <p:ajaxStatus onstart="PF('dialogCarregando').show()" oncomplete="PF('dialogCarregando').hide();" />
            <p:dialog  modal="true" widgetVar="dialogCarregando"  closable="false" resizable="false">
                <center>
                    <h:graphicImage value="./Principal/images/carregando2.gif" />
                </center>
            </p:dialog>
            <h:form id="geral" >
                <p:remoteCommand name="iniciarLink" action="#{loginView.criarContaLink()}" oncomplete="document.getElementById('geral:userId').focus()"  update=":geral"/>
                <p:remoteCommand name="voltarLink" action="#{loginView.iniciar()}" oncomplete="document.getElementById('geral:userId').focus()"  update=":geral"/>

                <p:growl  id="mensagem" life="5000" showDetail="true" showSummary="true" sticky="false" />


                <h:panelGroup id="user">

                    <div class="divLoginPrincipal ui-g">

                        <div class="ui-g-12 divLoginValue" style="text-align: center" >
                            <h:outputText value="#{loginView.isLogin ? 'Faça o Login para Entrar':'Preencha os campos abaixo'}" class="outputLogin"/> 
                            <h:panelGroup rendered="#{!loginView.isLogin}">
                                <img src="./Principal/images/iconValidacaoFechar.svg" height="20px" onclick="voltarLink()"  title="Voltar"
                                     class="imgCloseLogin"/>
                            </h:panelGroup>
                            <br/><br/><br/>
                            <p:inputText value="#{loginView.nomeUsuario}" id="userId" styleClass="inputUser" placeholder="Usuario"/>
                            <br/><br/>
                            <p:password value="#{loginView.senha}" styleClass="inputPassword" placeholder="Senha"/>
                            <br/><br/>
                            <p:commandButton value="Entrar"  action="#{loginView.confirmarUsuario()}" update=":geral,geral:mensagem" id="entrar"
                                             class="buttonSetting" oncomplete="confirmarOncompelte(xhr, status, args)"  rendered="#{loginView.isLogin}"
                                             style="width: 250px !important;height: 30px !important;font-size: 14px !important"  />
                            <p:commandButton value="Criar Conta" action="#{loginView.salvarUser()}"  update=":geral,geral:mensagem"
                                             class="buttonSetting"  rendered="#{!loginView.isLogin}" 
                                             oncomplete="criarOncomplete(xhr, status, args)"
                                             style="width: 250px !important;height: 30px !important;font-size: 14px !important"  />
                            <br/><br/><br/>
                            <div style="text-align: left;position: relative;left: 40px">
                                <h:outputText value="Não tem uma conta?" class="outputContaLogin" rendered="#{loginView.isLogin}"/>
                                <br/>
                                <p:commandLink value="- Cadastre-se" onclick="iniciarLink()" rendered="#{loginView.isLogin}" 
                                               style="color: #14477a;font-size: 12px !important;position: relative;top: 5px"/>
                            </div>
                        </div>
                    </div>
                </h:panelGroup>
            </h:form>

            <script>
                setarfoco('geral:userId');
            </script>
        </h:body>
        <footer >
            <!--<p style="font-size: 11px; font-family: 'Open Sans', sans-serif !important;color: white;position: relative;top: -5px;left: -30px !important"> © 2018 Interage Sistemas - Copyright </p>-->
             <a href="http://interagese.com.br/"  target="_blank" title="Visite nosso Site" style="font-size: 12px;color: white;position: relative;top: 5px;left: -10px;cursor: pointer"> © 2019 Interage Sistemas - version - 1.00.00 - Copyright</a>
        </footer>



    </f:view>
</html>

